@font-face {
    font-family: "HusqvarnaGothic";
    src: url(../fonts/HusqvarnaGothic-Light.eot?#iefix);
    src: url(../fonts/HusqvarnaGothic-Light.eot?#iefix) format("eot"), url(../fonts/HusqvarnaGothic-Light.woff) format("woff"), url(../fonts/HusqvarnaGothic-Light.ttf) format("truetype"), url(../fonts/HusqvarnaGothic-Light.svg#HusqvarnaGothic-Light) format("svg");
    font-weight: 300;
}

@font-face {
    font-family: "HusqvarnaGothic";
    src: url(../fonts/HusqvarnaGothic-Bold.eot?#iefix);
    src: url(../fonts/HusqvarnaGothic-Bold.eot?#iefix) format("eot"), url(../fonts/HusqvarnaGothic-Bold.woff) format("woff"), url(../fonts/HusqvarnaGothic-Bold.ttf) format("truetype"), url(../fonts/HusqvarnaGothic-Bold.svg#HusqvarnaGothic-Bold) format("svg");
    font-weight: 700
}

body {
    font-family: "HusqvarnaGothic", sans-serif;
    color: #333;
    margin: 0;
}

html, body {
    height: 100%;
}

#wrapper {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    /* This must be the same as the height of the footer */
    margin-bottom: -55px;
}

#wrapper:after {
    content: "";
    display: block;
    /* This must be the same as the height of the footer */
    height: 55px;
}

.ribbonmobile {
    padding-left: 15px;
}

h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: #4d4d4d;
}

p {
    font-size: 18px;
    line-height: 24px;
    color: #4d4d4d;
}

a {
    text-decoration: none;
    color: #f35321;
}

.clearfix::after,
.clearfix::before {
    content: '';
}

.clearfix::after {
    clear: both;
    display: block;
}

#HeaderWrapper {
    border-bottom: 1px solid #EDEDED;
}

#HeaderMain {
    background-color: #FFF;
}

h2 {
    margin-bottom: 24px;
    color: #000000;
    line-height: 22px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-menu {
    float: left;
    padding: 0;
    margin: 30px 0 0;
    list-style-type: none;
}

.wrapper {
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}



.mobile-menu {
    text-align: right;
    font-size: 0;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.mobile-menu-btn {
    display: inline-block;
    background-color: #f35321;
    border-color: #f35321;
    padding: 17px;
}

.mobile-menu-btn span {
    height: 3px;
    width: 24px;
    display: block;
    margin-bottom: 6px;
    background: #fff;
}
.mobile-menu-btn span:last-child {
    margin: 0;
}

header {
    background: #273A60;
    padding: 40px 0;
}

.logo-block a {
    display: inline-block;
    padding-top: 7px;
}

.logo-block a img {
    width: 200px;
}

.main-menu {
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 18px 20px;
    position: relative;
}

nav ul li:last-child a {
    padding-right: 0;
}

nav ul li:last-child a:after {
    display: none;
}

nav ul li a:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #f35321;
    text-decoration: none;
    outline: none;
}

.hero-block {
    padding-top: 87px;
    min-height: 400px;
}


.description_event {
    display: inline-block;
}

.description_event h1,
.description_event p {
    color: #fff;
    background: rgba(0,0,0,.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    line-height: 84px;
}

.description_event h1 {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
}

.description_event p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 7px;
    margin-bottom: 10px;
    padding: 10px 10px 12px;
}

.main-content {
    padding: 0;
}

.main-container {
    display: block;
    margin-bottom: 35px;
    padding: 0;
    background-color: #FFF;
}

#MainNavigation {
    float: left;
}

.form-control {
    border: 1px solid #d6d6d6;
    font-size: 18px;
    font-weight: 300;
    height: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #415273;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(65,82,115,.6);
}

label {
    font-size: 18px;
    font-weight: 300;
    color: #000;
}

label.required:after {
    color: #f35321;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    margin-left: 0;
}

.radio input[type=radio] {
    top: 50%;
    -webkit-transform: ;
    -moz-transform: translateY(-47%);
    -ms-transform: translateY(-47%);
    -o-transform: translateY(-47%);
    transform: translateY(-47%);
}

/*select,*/
/*input[type="text"],*/
/*input[type="email"],*/
/*input[type="password"],*/
/*textarea {*/
    /*padding: 5px;*/
    /*border: 1px solid #d6d6d6;*/
    /*background-color: #EDEDED;*/
    /*!*max-width: 453px;*!*/
    /*width: 100%;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*-webkit-border-radius: 0;*/
    /*-webkit-appearance: textfield;*/
/*}*/

input[type=submit] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

form p {
    /*max-width: 453px;*/
}

.form-group {
    margin: 20px 0 15px;
}

.btn-custom,
.btn-custom:focus {
    display: inline-block;
    padding: 10px 25px;
    margin: 10px 0;
    border: 1px solid #f35321;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    color: #FFF;
    background-color: #f35321;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

.btn-custom:hover {
    background-color: #d53c0c;
    border-color: #cc390b;
    color: #fff;
}

footer {
    background: #2c2c2c;
    color: #fff;
    overflow: auto;
    padding-top: 43px;
    margin-top: 30px;
}

footer p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
}

footer p.copy {
    font-size: 13px;
    margin-top: 20px;
}

footer p.copy a {
    color: inherit;
}

footer p.copy a:hover {
    color: #f35321;
}

.hide {
    display: none;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.column {
    width: 220px;
}

.column img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.left {
    float: left;
}

.attendee-image {
    width: 20%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.attendee-description {
    width: 80%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.attendee-image img {
    width: 100%;
}

.agenda-wrapper {
    padding: 10px;
}

.time-wrapper {
    width: 95px;
    padding: 10px;
    vertical-align: top;
}

.topic-wrapper {
    padding: 10px;
    vertical-align: top;
}

.flex-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.program-text ul {
    padding-top: 10px;
    padding-left: 0;
    list-style: none;
    font-size: 18px;
    border-top: 2px solid #f35321;
}

.program-text ul li {
    padding-left: 20px;
    margin-top: 5px;
    position: relative;
}

.program-text ul li:before {
    content: "";
    width: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    border-radius: 50%;
    background: #f35321;
}

.program-text ul li span {
    padding-left: 10px;
}

.program-text,
.program-img {
    width: 50%;
}

.program-img img {
    width: 100%;
}

.program-text {
    padding: 0 15px;
}

.program-text h2 {
    margin-top: 15px;
    color: #4d4d4d;
}

@media (min-width: 1470px) {
    .container {
        width: 1440px;
    }
}

@media screen and (max-width: 1200px) {
    nav ul li a {
        font-size: 15px;
        padding: 18px 14px;
    }

    .logo-block a {
        padding-top: 5px;
    }
}

@media screen and (min-width: 992px) {
    nav {
        display: block !important;
    }
}

@media screen and (max-width: 992px) {
    .mobile-header {
        display: block;
    }

    .header-container {
        width: 100%;
    }

    header {
        padding: 0;
    }

    .main-menu {
        padding: 0;
    }
    
    nav {
        background: #eaebee;
        position: absolute;
        width: 100%;
        z-index: 999;
        display: none;
        border-bottom: 30px solid #273A60;
    }

    nav ul li {
        display: block;
        text-align: left;
    }
    
    nav ul li a {
        color: #273A60;
        display: block;
    }

    nav a:after {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .hero-block {
        min-height: 0;
        padding-bottom: 87px;
        background-position: right;
    }

    .program-text {
        padding: 0;
    }
}

@media screen and (max-width: 767px){
    .program-text,
    .program-img {
        width: 100%;
    }

    .for-order {
        order: 1;
    }
}


@media screen and (max-width: 765px) {
    .description_event h1 {
        font-size: 49px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 560px) {
    .description_event h1 {
        font-size: 24px;
    }
}