body {
    font-family: "Arial", sans-serif;
    color: #333;
    margin: 0;
    font-size: 12px;
    background: #eeeeee;
}

html, body {
    height: 100%;
}

.container {
    background: #ffffff;
}

#wrapper {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    /* This must be the same as the height of the footer */
    margin-bottom: -55px;
}

#wrapper:after {
    content: "";
    display: block;
    /* This must be the same as the height of the footer */
    height: 55px;
}

.ribbonmobile {
    padding-left: 15px;
}

.btn-wrap {
    margin-bottom: 15px;
}

.separate-date {
    padding: 0 15px;
}

.calendar-image {
    width: 30px;
}

.date-table {
    width: 100%;
}

h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 6px 0 16px 0;
}

p label {
    font-size: 12px;
    line-height: 16px;
    color: #4d4d4d;
}

a, a:link, a:visited, a:hover, a:active {
    color: #f10e0e;
    font-weight: bold;
}

.clearfix::after,
.clearfix::before {
    content: '';
}

.clearfix::after {
    clear: both;
    display: block;
}

#HeaderWrapper {
    border-bottom: 1px solid #EDEDED;
}

#HeaderMain {
    background-color: #FFF;
}

h2 {
    margin: 0 0 4px 0;
    color: #000000;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
}

header {
    padding-bottom: 5px;
}

.header-top {
    height: 32px;
    background: #00693b;
}

.header-bottom {
    text-align: right;
    background-color: #fff;
    height: 110px;
}

.header-menu {
    float: left;
    padding: 0;
    margin: 30px 0 0;
    list-style-type: none;
}

.contacts-wrap {
    padding-left: 0;
}

.main-menu-wrap {
    padding-right: 0;
}

.main-menu,
.contact-block,
.main-container,
.brick {
    border-top: 2px solid #00693b;
}

.contact-block p {
    margin: 0;
}

.brick {
    padding-top: 6px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.contact-item-info img {
    max-width: 100%;
    width: 155px;
    float: left;
    margin-right: 15px;
}

.contact-item-info {
    overflow: hidden;
}

.contact-item-info:after {
    clear: both;
}

.contact-item-info h5 {
    font-weight: bold;
    margin-top: 0;
}

.mobile-menu {
    text-align: right;
    font-size: 0;
    display: none;
    position: absolute;
    left: 0;
}

.mobile-menu-btn {
    display: inline-block;
    padding: 5px;
}

.mobile-menu-btn span {
    height: 5px;
    width: 30px;
    display: block;
    margin-bottom: 5px;
    background: #00693b;
}

.mobile-menu-btn span:last-child {
    margin: 0;
}

.logo-block a {
    display: inline-block;
    padding-top: 7px;
}

.logo-block a img {
    width: 200px;
}

.main-menu {
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: left;
    padding-top: 6px;
}

nav ul li a {
    font-weight: 700;
    color: #666 !important;
    display: block;
    position: relative;
}

nav ul li:last-child a {
    padding-right: 0;
}

nav ul li:last-child a:after {
    display: none;
}

nav ul li a:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #f10e0e !important;
    text-decoration: none;
    outline: none;
}

.hero-block {
    padding-top: 87px;
    min-height: 700px;
}

.description_event {
    display: inline-block;
}

.description_event h1,
.description_event p {
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    line-height: 84px;
}

.description_event h1 {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
}

.description_event p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 7px;
    margin-bottom: 10px;
    padding: 10px 10px 12px;
}

.content-block .container {
    min-height: 100vh;
}

.main-content {
    padding: 0;
}

.main-container {
    display: block;
    margin-bottom: 35px;
    padding: 0;
    background-color: #FFF;
}

#MainNavigation {
    float: left;
}

.form-control {
    border: 1px solid #abadb3;
    padding: 2px;
    height: auto;
    font-size: 13px;
    font-weight: 300;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*.form-control:focus {
    border-color: #415273;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(65,82,115,.6);
}*/

.btn-custom,
a.btn-custom {
    display: none;
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 13px;
    color: #333333;
    font-weight: 400;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-wrap .btn-custom,
.btn-wrap.btn-custom {
    display: block;
}

.guest-part {
    padding-right: 30px;
}

.button-same {
    min-width: 0 !important;
}

label.required:after {
    color: #00693b;
}

.checkbox input[type=checkbox] {
    margin-left: 0;
    margin-top: 1px;
}

.red {
    color: #ff0000;
}

input[type=submit] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.calendar-h-input {
    height: 1px;
    width: 1px;
    opacity: 0;
}

.form-group {
    margin-bottom: 15px;
}

/*.btn-custom,
.btn-custom:focus {
    display: inline-block;
    padding: 10px 25px;
    margin: 10px 0;
    border: 1px solid #f35321;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #FFF;
    background-color: #f35321;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
}

.btn-custom:hover {
    background-color: #d53c0c;
    border-color: #cc390b;
    color: #fff;
}*/

footer {
    overflow: auto;
    padding-top: 43px;
    background: #ffffff;
    position: relative;
    text-align: right;
    padding-top: 6px;
}

footer:before {
    content: '';
    width: 74%;
    height: 1px;
    background: #999;
    position: absolute;
    right: 0;
    top: 0;
}

footer p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #999;
}

footer p.copy {
    font-size: 13px;
    margin-top: 20px;
}

footer p.copy a {
    color: inherit;
}

footer p.copy a:hover {
    color: #f35321;
}

.hide {
    display: none;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.column {
    width: 220px;
}

.column img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.left {
    float: left;
}

.attendee-image {
    width: 20%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.attendee-description {
    width: 80%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.attendee-image img {
    width: 100%;
}

.agenda-wrapper {
    padding: 10px;
}

.time-wrapper {
    width: 95px;
    padding: 10px;
    vertical-align: top;
}

.topic-wrapper {
    padding: 10px;
    vertical-align: top;
}

.flex-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.program-text,
.program-img {
    width: 50%;
}

.program-img img {
    width: 100%;
}

.program-text {
    padding-left: 15px;
}

.program-text h2 {
    margin-top: 15px;
    color: #4d4d4d;
}

@media (min-width: 1470px) {
    .container {
        width: 1440px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 989px;
    }

    #wrapper {
        width: 989px;
        margin: 0 auto 0px;
        background: #fff;
    }
}

@media screen and (max-width: 1200px) {
    .logo-block a {
        padding-top: 5px;
    }
}

@media screen and (max-width: 992px) {
    .header-container {
        width: 100%;
    }

    header {
        padding: 0;
    }
}

@media screen and (min-width: 767px) {
    nav {
        display: block !important;
    }
}

@media screen and (max-width: 767px) {
    .program-text,
    .program-img {
        width: 100%;
    }

    footer {
        margin-top: 20px;
    }

    .header-top {
        height: 42px;
    }

    .header-bottom {
        height: auto;
    }

    .header-bottom {
        background: none;
    }

    .for-order {
        order: 1;
    }

    .main-menu {
        padding: 0;
    }

    nav {
        background: #fff;
        position: absolute;
        width: 100%;
        z-index: 999;
        padding: 0 15px;
        left: 0;
        right: 0;
        display: none;
    }

    nav ul {
        border-bottom: 2px solid #00693b;
        padding: 10px 0;
    }

    nav ul li {
        display: block;
        text-align: left;
        padding-top: 15px;
    }

    nav ul li a {
        color: #273A60;
        display: block;
    }

    nav a:after {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .contacts-wrap {
        padding-left: 15px;
    }

    .main-container {
        border: none;
    }

    header {
        position: relative;
    }

    .mobile-menu {
        bottom: 7px;
    }

    .main-menu-wrap {
        padding-right: 15px;
    }
}

@media screen and (max-width: 765px) {
    .description_event h1 {
        font-size: 49px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 560px) {
    .description_event h1 {
        font-size: 24px;
    }
}