@import url('https://fonts.googleapis.com/css?family=Exo:400,600');

.quick-stories {
    margin: 0 auto;
}

/*Menu*+++++++++++++++++++++++++++++++++++++++++++++++++*/

nav {
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 13px;
}

nav a {
    font-size: 16px;
    color: #fff;
    padding: 27px 2px;
    display: inline-block;
}

nav a:hover,
a:focus,
.main-menu li.active a {
    text-decoration: none;
    color: #009FDF;
}

.nav-toggle-wrap {
    text-align: right;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.nav-toggle span {
    width: 30px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    display: block;
}

/*menu end++++++++++++++++++++++++++++++++++++++++++++++++*/

.welcome-block {
    padding: 15px;
}

.ribbon-title {
    display: block;
    text-align: center;
}

.navbar-toggle span {
    width: 30px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    display: block;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: none;
}

header .glyphicon {
    font-size: 27px;
}

.affix a:focus,
.affix a:hover {
    color: #009c3b;
}

.well {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #009c3b;
    color: #009c3b;
}

.daily-schedule {
    margin: 40px 0;
}

.daily-schedule h2 {
    font-size: 19px;
}

.event-item-wrapp {
    font-size: 0;
    border-bottom: 3px solid #eee;
    padding: 5px 0;
}

.event-item-wrapp p {
    font-size: 14px;
    margin: 0;
    min-height: 22px;
    padding: 5px 0;
}

.time-block,
.event-block {
    display: inline-block;
}

.event-title h2 {
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    font-size: 50px !important;
    font-weight: 700;
    margin-top: -10px;
}

.logo {
    margin-bottom: 30px;
    text-align: center;
    /*position: absolute;
    left:20px;*/
    padding-left: 20px;

}

.logo img {
    max-width: 100%;
    padding-top: 20px;

}

.time-block {
    vertical-align: top;
    width: 20%;
}

.text-center {
    color: #161749;
}

.time-block p {
    font-weight: bold;
    font-size: 18px;
}

.event-block {
    width: 80%;
}

.container-fluid {
    padding: 0;
}

body {
    font-family: 'Exo', sans-serif;
}

.for-gutter {
    padding-left: 30px;
    padding-right: 30px;
}

html, body {
    height: 100%;

}

#wrapper {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    /*background-image: url(../images/Background_wool.jpg);*/
    /*background-image: url(../images/50080010woolback.jpg);	
    background-size: 100%;
    background-position: center -250px;
    background-repeat-y: no-repeat;
    background-repeat-x: no-repeat;*/
    /*This must be the same as the height of the footer */
    margin-bottom: -66px;
}

#wrapper:after {
    content: "";
    display: block;
    /* This must be the same as the height of the footer */
    height: 66px;
}

a,
.btn-custom {
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.clearfix::after,
.clearfix::before {
    content: '';
}

.clearfix::after {
    clear: both;
    display: block;
}

#HeaderMain {
    background-color: #000;
}

.slide h2 {
    margin-bottom: 24px;
    padding-bottom: 24px;
    color: #009c3b;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 6px solid #009c3b;
}

/*.ribbonmobile, .main-content {
    margin-left: -15px;
}*/

.buttons-p {
    text-align: center;
}

#ribbon {
    text-align: center;
    overflow: hidden;
}

h1 {

}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

h3 {
    margin-bottom: 18px;
    color: #666;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
}

.table-summary {
    font-size: 16px !important;
    line-height: normal !important;
    color: #666 !important;
}

p {
    font-size: 16px;
    line-height: normal;
    color: #666;
}

.learn-more {
    background: #fff !important;
    border: 1px solid #009fdf !important;
    color: #009fdf !important;
}

.hero-block {
    position: relative;
    padding-bottom: 35px;
    padding-top: 76px;
}

.fixed-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.fixedHeader {
    background: rgba(0, 0, 0, 0.7);
}

/*.hero-block:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient( 152deg, rgba(155, 213, 229, 0.77) 0%, rgba(73, 90, 142, 0.8) 100% );
}*/

/*header {
    padding: 16px 0;
}*/

.logo-block img {
    max-width: 200px;
}

.event-title-block {
    position: relative;
    /*padding: 50px 0;*/
}

.event-title-block h1 {
    padding-bottom: 10px;
    margin: 0;
    position: relative;
    text-align: center;
    font-size: 46px;
    line-height: 64px;
    color: #fff;
}

.event-title-block h1:after {
    content: '';
    position: absolute;
    display: block;
    width: 46px;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

.event-title-block p {
    text-align: center;
    color: #fff;
    font-size: 23px;
    line-height: 63px;
}

.hero-btn-block {
    position: relative;
    text-align: center;
}

.hero-btn-block a {
    padding: 14px 23px;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid #E83F6F;
}

.hero-btn-block a:hover {
    color: #000;
    background: #fff;
}

/*.content-block {
    padding-top: 100px;
}*/

.content-block h1 {
    margin-top: 0;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid #1a36b3;
    /*border-bottom: 1px solid #1a1a1a;*/
    /*background: url(../images/title-logo.png);*/
    /*background-repeat: no-repeat;*/
    -webkit-background-origin: content-box;
    background-origin: content-box;
    background-position: 100% center;
}

.border-bottom {
    /*border-bottom: 1px solid #1a1a1a;*/
    border-bottom: 1px solid #1a36b3;
    padding: 55px 0;
}

.border-bottom h2 {
    text-transform: uppercase;
}

.border-bottom p {
    margin: auto;
}

.sign-block {
    position: relative;
    padding: 20px 0;
}

.sign-item {
    text-align: center;
    padding: 0 11%;
}

.author-block {
    position: absolute;
    right: -19px;
    top: -58px;
}

.author-block img {
    width: 115px;
    height: 115px;
}

.sponsors2 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.agenda-table td {
    padding: 10px 30px 0 10px;
    vertical-align: top;
}

.speaker-list {
    list-style-type: none;
    padding-left: 0;
}

.speaker-list li {
    padding: 5px 0;
}

.i-info {
    text-align: right;
    padding-right: 135px;
    position: relative;
}

.i-info p {
    display: inline-block;
    width: 70%;
    text-align: center;
    padding: 0 0 0 20%;
}

.image {
    position: absolute;
    bottom: 0;
    right: 0;
}

.image img {
    width: 116px;
}

.i-location {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.i-location-image {
    width: 50%;
    padding: 10px;
}

.i-location-image:nth-child(odd) {
    padding-left: 0;
}

.i-location-image:nth-child(even) {
    padding-right: 0;
}

.i-location-image img {
    width: 100%;
}

/* bootstrap navigation */

.navbar-collapse {
    padding: 0;
}

.navbar-default {
    background: none;
    border: none;
    text-transform: uppercase;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav {
    width: 100%;
    /*text-align: right;*/
}

.navbar-default .navbar-nav > li {
    float: none;
    display: inline-block;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    text-decoration: none;
    color: #d8d8d8;
    background: none;
}

.navbar-default .navbar-toggle {
    margin: 0 20px 0 0;
    border: none;
}

.navbar-default .navbar-toggle:focus {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.0);
}

.navbar-default .navbar-toggle:hover {
    border-radius: 0;
    color: #009c3b;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
}

.hotline {
    padding-top: 20px;
}

.hotline h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #113c2b;
}

.phone-icon {
    width: 60px;
    height: 60px;
    background-image: url(../images/picto-teaser.png);
    margin: 0 auto;
}

.phone-number {
    color: #009c3b;
    font-size: 22px;
}

.main-container {
    /*max-width: 553px;*/
    max-width: 753px;
    display: block;
    margin-bottom: 35px;
    background-color: #8ac8df;
    /*background-color: #b0c4de;*/
    margin-top: 15%;
    padding: 15px;
}

#MainNavigation {
    float: left;
}

input[type=submit] {
    -webkit-appearance: none;
/ / -webkit-border-radius: 0;
}

form {
    padding: 15px;
}

.form-group {
    margin: 20px 0 15px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #5B6270;
    box-shadow: none;
    border-radius: 0;
    padding: 11px 8px;
    height: auto;
    font-size: 16px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #5B6270;
}

.has-error .form-control,
.has-error .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea.form-control {
    border: 1px solid #bdbdbd;
}

.form-group label {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #666666;
    margin-bottom: 8px;
}

label.required:after {
    color: #ff0000 !important;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 0;
}

.summary-wrapper {
    padding-left: 15px;
}

hr {
    border-color: #1a36b3;;
}

.btn-custom {
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #e83f6f;
    padding: 10px 20px;
    border: 1px solid #e83f6f;
    font-weight: 600;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus,
.btn-custom.active.focus,
.btn-custom.active:focus,
.btn-custom.focus,
.btn-custom:active.focus,
.btn-custom:active:focus,
.btn-custom:focus {
    color: #e83f6f;
    border-color: #e83f6f;
    background-color: #fff;
    outline: none;
}

.pull-right {
    float: right;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 48px 0 35px;
    margin-top: 100px;
}

.footer-links {
    text-align: center;
}

.footer-links a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-right: 14px;
}

.footer-links a:hover {
    color: #23c3d1;
}

.hide {
    display: none;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.column {
    width: 220px;
}

.column img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.left {
    float: left;
}

.attendee-image {
    width: 20%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.attendee-description {
    width: 80%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.attendee-image img {
    width: 100%;
}

.agenda-wrapper td {
    padding: 10px;
}

#breadcrumbs {
    display: none;
}

/*.widget-box {
    background: #EEE;
    padding: 10px;
    margin-bottom: 15px;
}*/

.login-part {
    border-right: 1px solid #ffffff;
}

.company-person {
    /*min-height: 150px;*/
    border-top: 1px solid #ddd;
    /*padding: 36px 0;*/
    padding: 15px 0;
}

.information3 .row,
.information4 .row {
    /*padding-bottom: 15px;*/
}

.radio-wrap {
    display: inline-block;
    margin-right: 10px;
}

.radio-wrap label {
    display: block;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
}

.feedback-block .form-group {
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
}

.custom-radio label {
    padding: 12px 0 12px 55px;
    margin-bottom: 5px;
    vertical-align: middle;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    color: #333333;
    position: relative;
}

.custom-radio label:before {
    box-sizing: content-box;
    content: ' ';
    border-radius: 50%;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    position: absolute;
    display: block;
    background-color: #fff;
    border: 1px solid #CCC;
}

.custom-radio input[type="checkbox"]:checked + label:after,
.custom-radio input[type="radio"]:checked + label:after {
    content: ' ';
    position: absolute;
    top: 11px;
    left: 11px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background: #f29200;
}

.custom-radio input {
    height: 1px;
    width: 1px;
    position: absolute;
    z-index: -1;
    left: 5px;
    top: 5px;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 10px;
}

#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
}

.slider {
    display: none;
    /*    margin-bottom: 20px;*/
}

.slider.slick-initialized {
    display: block;
}

.slide {
    position: relative;
}

.slide img {
    width: 100%;
}

.slick-prev {
    left: 20px !important;
    z-index: 99;
}

.slick-next {
    right: 20px !important;
}

.slide .slide-text {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.7);
}

.video-text {
    font-size: 20px;
    font-weight: 700;
}

.iframe-block iframe {
    width: 100%;
    height: 250px;
}

.custom-checkbox input {
    width: 0;
    height: 0;
    opacity: 0;
}

.custom-checkbox input + label:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #e83f6f;
    left: 12px;
}

.custom-checkbox input:checked + label:after {
    opacity: 1;
}

.custom-checkbox input + label:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 18px;
    top: 6px;
    opacity: 0;
    background-color: #e83f6f;
}

.custom-checkbox {
    padding-left: 40px;
}

label.error {
    color: #ff0000 !important;
}

/*responsive styles*/
@media only screen and (min-width: 1700px) {
    .home-page-video-image {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1600px) {
    body {
        background-size: 129%;
        background-position: 0 -411px;
    }
}

@media screen and (max-width: 1400px) {
    .event-title h2 {
        font-size: 40px !important;
    }

    .main-container {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .social-icons p {
        display: block;
    }

    #wrapper {
        margin-bottom: -90px;
    }

    #wrapper:after {
        height: 90px;
    }

    .header-container {
        width: 100%;
        /*padding: 0;*/
    }

    body {
        background-position: 0 -282px;
    }
}

@media screen and (max-width: 1170px) {
    header {
        position: static;
        transform: none;
        width: 100%;
    }

    .event-title h2 {
        font-size: 35px !important;
    }

    body {
        background-position: 0 -323px;
        -webkit-background-size: 135%;
        background-size: 135%;
    }
}

@media screen and (min-width: 1050px) {
    .navbar-collapse.collapse {
        display: block !important;
    }

    .navbar-toggle {
        display: none;
    }
}

@media screen and (max-width: 1050px) {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-toggle {
        display: block !important;
        float: right;
        position: relative;
        bottom: -6px;
    }

    .navbar-header {
        float: none;
    }

    .login-part {
        border: none;
    }

    .guest-part {
        border-bottom: 1px solid #b1b2b3;
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 800px) {
    footer span {
        display: block;
        text-align: center;
        float: none !important;
    }

    footer {
        height: auto;
    }

}

@media screen and (max-width: 550px) {
    .attendee-image {
        padding: 15px 0;
    }

    h1 {
        font-size: 27px;
    }

    select,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        padding: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 24px;
    }
}

/*-------Responsive styles---------*/

@media only screen and (min-width: 992px) {
    nav ul {
        display: block !important;
    }
}

@media only screen and (max-width: 992px) {
    /*  .header-logo img {
          width: 140px;
          height: auto;
      }*/
    .event-title-block h1 {
        font-size: 5vw;
        line-height: normal;
    }

    /*menu++++++++++++++++++++++*/
    nav {
        background: #23c3d1;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 9;
    }

    nav ul {
        display: none;
        text-align: center;
    }

    .nav-toggle-wrap {
        padding: 23px 15px 15px;
    }

    .nav-toggle {
        display: inline-block;
    }

    nav a:hover,
    nav a:focus {
        color: #fff;
    }

    nav ul li {
        display: block;
    }

    /*menu end+++++++++++++*/
    .header-menu li a {
        padding: 9px;
    }

    .slide .slide-text {
        position: static;
        width: 100%;
        padding: 0;
    }

    .slick-prev, .slick-next {
        top: 25%;
    }
}

@media only screen and (max-width: 720px) {

    #wrapper {
        margin-bottom: -150px;
    }

    #wrapper:after {
        height: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .sponsors,
    .sponsors .text-right {
        text-align: center;
    }

    .content-block {
        background: #ffffff;
        padding: 0;
        padding-top: 50px;
    }

    .footer-container,
    .welcome-block {
        width: 100%;
    }

    .event-title {
        max-width: 100%;
        /*background: url("../images/Background_wool.jpg");*/
        /*-webkit-background-size: cover;*/
        /*background-size: cover;*/
        background-color: #ffffff;
        /*padding: 107px 0;*/
    }

    footer h6 {
        text-align: center;
    }

    .social-icons span {
        display: none;
    }

    footer .social-icons a {
        border: none;
    }

    .for-gutter {
        padding: 0;
    }

    .navbar-toggle {
        bottom: 20px;
    }

    #wrapper {
        margin-bottom: -130px;
    }

    #wrapper:after {
        height: 130px;
    }

    header {
        border: none;
    }

    .header-menu li {
        float: none;
        text-align: left !important;
    }

    .navbar {
        margin-top: 0;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-default .navbar-nav > li {
        display: block;
    }

    /*  .navbar-header {
          border-bottom: 1px solid #b1b2b3;
      }*/
    .navbar-default .navbar-nav > li > a {
        border-bottom: 1px solid #fff;
        background-color: #e4e4e4;
        padding: 10px 15px;
    }

    nav a {
        font-size: 16px;
    }

    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        background-color: #e4e4e4;
    }

    .navbar-default .navbar-nav > li > a:after {
        display: none;
    }

    /*.header-logo img {
        width: 120px;
    }
*/
    .footer-menu,
    .social-icons {
        text-align: center;
    }

    footer .social-icons {
        margin-top: 20px;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .event-title h1 {
        font-size: 50px;
    }

    .logo {
        margin-bottom: 27px;

    }
}

@media only screen and (max-width: 515px) {
    footer .footer-logo,
    footer .social-icons,
    footer .event-name,
    footer .footer-link {
        text-align: center;
    }

    .header-menu li a {
        font-size: 14px;
    }

    .event-title-block h1 {
        font-size: 7vw;
    }
}

@media only screen and (max-width: 400px) {
    .event-title {
        padding: 47px 0;
    }

    .event-title h1 {
        font-size: 37px;
        margin-bottom: 0;
    }

    .event-title p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 380px) {
    header .social-icons {
        display: none;
    }

    .btn-custom {
        margin-top: 10px;
        width: 100%;
    }

    h1 {
        font-size: 23px;
    }
}




