@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

@font-face {
    font-family: HanseIcons;
    src: url('../fonts/hanse-icons.woff?1zr3wd') format("woff");
    font-weight: 400;
    font-style: normal
}

#wrapper {
    min-height: calc(100vh - 42px)
}

a {
    color: #065d82;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    margin-left: 15px;
    margin-bottom: 32px;
    color: #ef8000;
    display: inline-block;
    border-bottom: 2px solid #ef8000;
    border-top: 2px solid #ef8000;
}

h1:after {
    display: block;
    width: 100%;
}

.table-summary td {
    padding: 5px 0;
    font-size: 16px;
    color: #065d82;
}


p {
    font-size: 16px;
    color: #065d82;
}

header {
    border-bottom: 1px solid #065D82;
    background: #fff;
    position: sticky;
}

#menu-logo a,
#menu-logo a:hover {
    font-size: 0;
    border: none;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    height: 85px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.main-menu a {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #065d82;
    border-top: 1px solid #065d82;
    border-bottom: 1px solid #065d82;
    padding: 2px;
    display: block;
    text-decoration: none;
}

.main-menu a:hover,
.main-menu .active a {
    border-color: #ef8000;
    color: #ef8000;
}

.hero-block {
    height: 419px;
    overflow: hidden;
}

.hero-block img {
    width: 100%;
    height: auto;
}

.btn-wrap {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .45);
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 3px;
    color: #065d82;
    background-color: #e8e9e9;
    font-size: 14px;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 4px 16px;
    border: none;
}

.btn-custom {
    padding: 0;
    text-decoration: none;
}

.btn-custom:focus,
.btn-custom:active,
.btn-custom:active:focus,
.btn-custom:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #065d82;
}

.btn-wrap .btn-custom {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background: none;
}

.btn-wrap:hover,
.btn-wrap:hover .btn-custom {
    background-color: #eee;
    border-color: #eee;
    color: #ef8000;
}

.btn-wrap:hover:after {
    -o-border-image: linear-gradient(90deg, #fcb23b 0, #ef8000);
    border-image: linear-gradient(90deg, #fcb23b 0, #ef8000);
    border-image-slice: 1;
}

.btn-wrap:after {
    -o-border-image: linear-gradient(90deg, #00adee 0, #065d82);
    border-image: linear-gradient(90deg, #00adee 0, #065d82);
    border-image-slice: 1;
    border-top: 0;
    border-bottom: 2px solid transparent;
    bottom: -1px;
    content: "";
    left: -1px;
    position: absolute;
    right: -1px;
}

.wrap-checkbox,
.wrap-radio {
    position: relative;
}

.wrap-checkbox input,
.checkbox input,
.wrap-radio input,
.radio input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.custom-checkbox,
.custom-radio {
    position: absolute;
    left: 0;
    top: 0;
}

.custom-checkbox:before,
.checkbox label:before {
    content: '';
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #8db8c8;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-radio:before {
    content: "";
    box-shadow: 0 0 0 1px #8db8c8;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
}

.custom-radio:after {
    background-color: #ef8000;
    content: "";
    opacity: 0;
    position: absolute;
    transform: scale(0);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    height: 20px;
    width: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


.custom-checkbox:after,
.checkbox label:after {
    content: "";
    display: inline-block;
    height: 18px;
    transition: all .2s;
    width: 18px;
    position: absolute;
    top: 1px;
    left: 1px;
}

input[type="radio"]:checked + .custom-radio:after {
    animation: opacity .2s;
    display: block;
    opacity: 1;
    transform: scale(.4);
}

input[type="checkbox"]:checked + .custom-checkbox:after,
.checkbox input[type="checkbox"]:checked + label:after {
    background: #ef8000;
    box-shadow: inset 0 0 0 5px #fff;
}

label {
    color: #8db8c8;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.checkbox label,
.radio label {
    padding-left: 30px;
}

label.required:after {
    color: #8db8c8;
}

.form-control {
    border-color: transparent transparent #8db8c8;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #8db8c8;
    font-size: 16px;
}

.form-control:focus {
    border-color: transparent transparent #8db8c8;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select-wrap {
    position: relative;
}

.select-wrap:after {
    font-family: HanseIcons;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
    color: #065d82;
    bottom: 0;
    content: "\e903";
    margin: 1px;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 8px;
    border: 0;
    font-size: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.toggle-menu {
    position: absolute;
    top: 22px;
    right: 15px;
    display: none;
}

.toggle-btn span {
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    display: block;
    background: #065d82;
}

.mobile-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    padding: 10px 0;
}

footer p {
    margin: 0;
}

.main-content {
    max-width: 66.6%;
    margin: auto;
}

@media screen and (min-width: 767px) {
    .mobile-logo {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #menu-logo {
        display: none;
    }

    .main-menu {
        position: absolute;
        background: #fff;
        width: 100%;
        border-top: 1px solid rgb(6, 93, 130);
        left: 0;
        padding: 0 15px;
        display: none;
    }

    .main-menu ul {
        display: block;
        height: auto;
    }

    .main-menu a {
        border-top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hero-block img {
        height: 100%;
        width: auto;
    }

    .toggle-menu {
        display: block;
    }

    .main-content {
        max-width: 100%;
    }

}
