@font-face {
    font-family: 'NimbusSansNovus';
    src: url('../fonts/nimbus-sans-novus.ttf') format('ttf'),
    url('../fonts/nimbus-sans-novus.woff') format('woff'),
    url('../fonts/nimbus-sans-novus.woff2') format('woff2'),
    url('../fonts/nimbus-sans-novus.eot') format('eot');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('../fonts/nimbus-sans-novus-bold.ttf') format('ttf'),
    url('../fonts/nimbus-sans-novus-bold.woff') format('woff'),
    url('../fonts/nimbus-sans-novus-bold.woff2') format('woff2'),
    url('../fonts/nimbus-sans-novus-bold.eot') format('eot');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('../fonts/nimbus-sans-novus-light.ttf') format('ttf'),
    url('../fonts/nimbus-sans-novus-light.woff') format('woff'),
    url('../fonts/nimbus-sans-novus-light.woff2') format('woff2'),
    url('../fonts/nimbus-sans-novus-light.eot') format('eot');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'NimbusSansNovus';
    src: url('../fonts/nimbus-sans-novus-semi-bold.ttf') format('ttf'),
    url('../fonts/nimbus-sans-novus-semi-bold.woff') format('woff'),
    url('../fonts/nimbus-sans-novus-semi-bold.woff2') format('woff2'),
    url('../fonts/nimbus-sans-novus-semi-bold.eot') format('eot');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation_bold-webfont.ttf') format('ttf'),
    url('../fonts/sansation_bold-webfont.woff') format('woff'),
    url('../fonts/sansation_bold-webfont.woff2') format('woff2'),
    url('../fonts/sansation_bold-webfont.eot') format('eot');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation_regular-webfont.ttf') format('ttf'),
    url('../fonts/sansation_regular-webfont.woff') format('woff'),
    url('../fonts/sansation_regular-webfont.woff2') format('woff2'),
    url('../fonts/sansation_regular-webfont.eot') format('eot');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation_light-webfont.ttf') format('ttf'),
    url('../fonts/sansation_light-webfont.woff') format('woff'),
    url('../fonts/sansation_light-webfont.woff2') format('woff2'),
    url('../fonts/sansation_light-webfont.eot') format('eot');
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: HanseIcons;
    src: url('../fonts/hanse-icons.woff?1zr3wd') format("woff");
    font-weight: 400;
    font-style: normal
}

#wrapper {
    min-height: calc(100vh - 42px)
}

a {
    color: #065d82;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'NimbusSansNovus', sans-serif;
    background: #f5f5f5;
}

.logo-block .container {
    background: none;
}

.container {
    background: #ffffff;
}

@media screen and (min-width: 1500px) {
    .container {
        width: 1400px;
        padding: 0 40px;
    }
}

h1 {
    font-family: 'Sansation', sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin-left: 15px;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
}

.logo-block {
    padding: 26px 0 23px;
}

.logo-block img {
    max-width: 75%;
}

.table-summary td {
    padding: 5px 0;
    font-size: 16px;
    color: #333;
}

p {
    font-size: 16px;
    color: #333;
}

.logo-block {
    background: #000;
}

#menu-logo a,
#menu-logo a:hover {
    font-size: 0;
    border: none;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 85px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.main-menu a {
    font-weight: 700;
    font-size: 21px;
    color: #000;
    padding: 20px 9px 5px;
    display: block;
    text-decoration: none;
}

.main-menu a:hover,
.main-menu .active a {
    color: #e50000;
}

.hero-block {
    /*height: 419px;*/
    overflow: hidden;
}

.hero-block img {
    width: 100%;
    height: auto;
}
/*
.btn-wrap {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .45);
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 3px;
    color: #065d82;
    background-color: #e8e9e9;
    font-size: 14px;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 4px 16px;
    border: none;
}

.btn-custom {
    padding: 0;
    text-decoration: none;
}

.btn-custom:focus,
.btn-custom:active,
.btn-custom:active:focus,
.btn-custom:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #065d82;
}

.btn-wrap .btn-custom {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
}

.btn-wrap:hover,
.btn-wrap:hover .btn-custom {
    background-color: #333;
    color: #ffffff;
}

.btn-wrap:hover:after {
    -o-border-image: linear-gradient(90deg, #fcb23b 0, #ef8000);
    border-image: linear-gradient(90deg, #fcb23b 0, #ef8000);
    border-image-slice: 1;
}

.btn-wrap:after {
    -o-border-image: linear-gradient(90deg, #00adee 0, #065d82);
    border-image: linear-gradient(90deg, #00adee 0, #065d82);
    border-image-slice: 1;
    border-top: 0;
    border-bottom: 2px solid transparent;
    bottom: -1px;
    content: "";
    left: -1px;
    position: absolute;
    right: -1px;
}*/

.content-block {
    padding-bottom: 30px;
}
.btn-custom  {
    background: #333333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.btn-custom:hover,
.btn-custom:focus {
    background: #000;
    color: #fff;
}

.form-control {
    padding: 7px 8px 3px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

label {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 400;
}

#participation-form .radio label {
    padding-left: 0;
}

label.required:after {
    color: #c55;
    font-size: 13px;
    font-weight: 700;
}

.checkbox input[type=checkbox] {
    margin-left: 0;
}

/*.select-wrap {
    position: relative;
}

.select-wrap:after {
    font-family: HanseIcons;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
    color: #065d82;
    bottom: 0;
    content: "\e903";
    margin: 1px;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 8px;
    border: 0;
    font-size: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}*/

.toggle-menu {
    position: absolute;
    top: 29px;
    right: 15px;
    display: none;
}

.toggle-btn span {
    width: 26px;
    height: 2px;
    margin-bottom: 6px;
    display: block;
    background: #fff;
}

.mobile-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    max-width: 600px;
    margin: auto;
}

footer {
    padding: 10px 15px;
    background: #000;
}

footer .container {
    background: none;
    padding: 0;
    max-width: 100%;
}

.footer-inner {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #a0a0a0;
    font-weight: 600;
}

.footer-links a {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: 600;
    text-decoration: none;
    padding: 3px 7px;
}

.footer-links a:last-child {
    padding-right: 0;
}

.footer-links a:hover {
    text-decoration: none;
    color: #ddd;
}




@media screen and (min-width: 767px) {
    .mobile-logo {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #menu-logo {
        display: none;
    }

    .main-menu {
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        padding: 0 15px;
        display: none;
        z-index: 9;
        border-bottom: 1px solid #000;
    }

    .main-menu ul {
        display: block;
        height: auto;
    }

    .main-menu a {
        border-top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hero-block img {
        height: 100%;
        width: auto;
    }

    .toggle-menu {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .footer-links,
    .copyright {
        text-align: center;
        width: 100%;
    }
}