html,
body {
    height: 100%;
    font-family: Arial;
    font-size: 14px;
}

html, body, img, h1, h2, h3, h4, p, form, input, ul, ol, li, fieldset, hr {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    border-top: 3px solid #E2001A;
    font-size: 14px;
    line-height: 1.3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1020px;
}

h1 {
    font-family: 'PT Sans', sans-serif;
}

#wrapper {
    min-height: 100%;
    margin-bottom: -40px;
    width: 100%;
    position: relative;
}

#wrapper:after {
    content: "";
    display: block;
    height: 40px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #3F77B2;
    outline: none !important;
}

a:focus, a:hover {
    color: inherit;
    text-decoration: inherit;
}

footer {
    background: #e5e3df;
    color: #a49a8a;
    height: 40px;
}

#toggle {
    width: 28px;
    height: 30px;
    margin: 10px auto;
    display: inline-block;
    cursor: pointer;
}

#toggle div {
    width: 100%;
    height: 5px;
    background: #666;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}

.cont {
    padding: 0 10px;
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    float: left;
    width: 200px;
    padding: 0 10px;
}

.right-column {
    float: right;
    width: 230px;
    padding: 0 10px;
}

nav ul {
    padding-top: 2px;
    padding-bottom: 12px;
}

ul, ol {
    list-style: none;
}

html, button, input, select, textarea {
    color: #222;
}

nav li.active a {
    color: #000000;
    font-weight: bold;
}

nav li a {
    color: #3f77b2;
    line-height: 18px;
    padding: 3px 0;
    display: inline-block;
    padding-left: 10px;
    background: url("../images/linkArrowRightBlue.png") 1px 8px no-repeat;
}

.main-content {
    float: left;
    display: block;
    width: calc(100% - 470px);
}

.main-wrap {
    padding-top: 30px;
}

h1 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3 {
    font-family: 'PT Sans', arial;
    font-weight: bold;
}

p {
    padding-bottom: 20px;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.form-group label {
    display: block;
    margin: 15px 0 7px;
    font-size: 12px;
    font-weight: bold;
}

input[type=text],
input[type=email],
select,
textarea,
input[type=password] {
    float: left;
    line-height: 30px;
    border: 1px solid #cfcfcf;
    font-size: 12px;
    height: 30px;
    padding: 0 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

form {
    background: #f5f5f5; /* Changed by SK because it was way too dark */
    padding: 10px;
    margin-bottom: 20px;
}

.btn-custom {
    background-color: #e2001a;
    text-align: center;
    min-width: 74px;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding-top: 2px;
    height: 32px;
    line-height: 31px;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.logo {
    float: left;
    margin-top: 15px;
}

.nav-toggle {
    float: right;
    margin-top: 15px;
}

.login-part {
    border-right: 1px solid #dc092f;
}

@media screen and (max-width: 767px) {
    .fake {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 830px) {

    .main-content {
        width: calc(100% - 220px);
    }

    .right-column {
        width: calc(100% - 220px);
        padding: 10px 0;
    }
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        background: rgb(255, 255, 255);
        border-bottom: 2px solid #ff0000;
        border-top: 2px solid #ff0000;
    }

    .main-content {
        width: 100%;
    }

    .right-column {
        width: 100%;
        padding: 15px 0 0 0;
    }
}

@media screen and (min-width: 601px) {
    .nav-toggle {
        display: none;
    }

    nav {
        display: block !important;
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}

@media screen and (max-width: 1050px) {
    .login-part {
        border-bottom: 1px solid #dc092f;
    }
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}