.login-part {
    border-right: 1px solid #dc092f;
}

@font-face {
    font-family: 'FS Joey Web';
    src: url('../fonts/FS Joey Web.eot');
    src: url('../fonts/FS Joey Web.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FS Joey Web.woff2') format('woff2'),
    url('../fonts/FS Joey Web.woff') format('woff'),
    url('../fonts/FS Joey Web.svg#FS Joey Web') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'FS Joey Web';
    src: url(../fonts/FSJoeyWeb-Bold.eot);
    src: url(../fonts/FSJoeyWeb-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/FSJoeyWeb-Bold.woff) format('woff');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'FS Joey Web';
    src: url(../fonts/FSJoeyWeb-Medium.eot);
    src: url(../fonts/FSJoeyWeb-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/FSJoeyWeb-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal
}

body {
    font-size: 16px;
    background-color: #ececec;
    color: #666;
    font-family: 'FS Joey Web', sans-serif;
}

p {
    line-height: 22px;
    margin: 0 0 10px;
}

.some-facebook:hover {
    color: #3b5998 !important;
}

.some-youtube:hover {
    color: #cc181e !important;
}

.some-twitter:hover {
    color: #00aced !important;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
}

header .header-logo {
    padding: 46px 0 0 20px;
    margin-bottom: 45px;
}

.navbar-default {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}

.navbar-header button {
    margin: 0;
    border-radius: 0;
    border-bottom: none;
    padding: 24px 32px 21px 29px;
}

.navbar-toggle {
    float: none;
    text-transform: uppercase;
    color: #555;
    font-weight: 700;
}

.navbar-collapse {
    padding-left: 0;
}

.navbar-left li {
    text-transform: uppercase;
    font-weight: 700;
    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}

.navbar-left li a {
    font-weight: 500;
    padding-right: 18px;
}

.navbar-right {
    padding-left: 4px;
}

.navbar-default .navbar-right li a {
    padding-right: 10px;
    color: #b7b7b7;
}

/*********************CONTENT****************/

.content {
    background-color: #fff;
    padding-bottom: 25px;
}

.content .post-header {
    padding: 0;
    position: relative;
}

.content .post-header img {
    width: 100%;
    height: auto;
}

.content .post-header .date {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 15px;
}

.content .post-header .date p {
    margin: 0;
}

.content h1 {
    margin: 0 -70px 25px;
    border-bottom: 1px solid #d7d7d7;
    padding: 45px 0;
    line-height: 38px;
    color: #333;
    font-size: 30px;
    text-align: center;
}

.content h4 {
    margin: 0 0 8px;
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
}

.content a {
    /*display: block;
    margin: 8px 0 25px;*/
    text-decoration: none;
}

.content .content-paragraph {
    font-style: italic;
    padding-left: 18px;
}

.content .content-paragraph p {
    margin: 63px 0 39px;
}

.content .content-blogs {
    margin-bottom: 30px;
}

.content h2 {
    color: #00afd0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
}

/**********FOOTER*******************/
footer {
    color: #fff;
    border-bottom: 1px solid #555;
}

footer .blog-info {
    font-size: 14px;
    line-height: 20px;
    background-color: #333;
}

.blog-info a,
.content a {
    color: #e2001a;
}

.blog-info .greetings .greetings-content {
    padding-top: 20px;
    margin-bottom: 20px;
}

.greetings .greetings-content .footer-logo {
    margin-bottom: 30px;
}

footer .blog-info h3,
footer .blog-info h4,
footer .blog-info h5,
footer .blog-info h6 {
    margin-top: 0px;
    color: #fff;
    font-family: "FS Joey Web", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.blog-info .contact {
    margin-top: 54px;
    text-align: center;
}

.blog-info .contact address {
    margin-left: 12px;
    margin-right: 28px;
    padding: 20px;
    border: 1px solid #e6e6e6;
}

.contact address .address {
    line-height: 22px;
    margin-bottom: 30px;
}

.contact address .phone,
.contact address .email {
    margin-bottom: 0;
}

footer .footer-categories {
    padding-top: 15px;
    padding-bottom: 13px;
    text-align: center;
    background-color: #262626;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
}

footer .footer-categories ul {
    margin-bottom: 0;
}

.footer-categories ul li {
    padding: 0 12px;
}

.footer-categories ul li a,
.footer-nav nav ul li a {
    text-decoration: none;
    color: inherit;
}

footer .footer-bottom {
    background-color: #262626;
    font-size: 12px;
}

.footer-bottom .footer-some {
    margin-top: 15px;
}

.footer-bottom .footer-some a {
    padding-left: 7px;
    padding-right: 7px;
    color: inherit;
}

footer .footer-bottom .footer-nav {
    text-align: right;
    padding-top: 15px;
}

.footer-bottom .footer-nav nav ul {
    margin-bottom: 0;
    padding-bottom: 13px;
}

.footer-nav nav ul li {
    padding: 0 5px 0 5px;
}

.footer-nav nav ul .for-after:after {
    content: '';
    display: inline-block;
    margin-left: 12px;
    height: 10px;
    border-right: 1px solid #d7d7d7;
}

.btn.btn-custom {
    background-color: #e2001a;
    text-align: center;
    min-width: 74px;
    padding: 2px 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    line-height: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    border-radius: 0;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

input[type=text],
input[type=email],
select,
textarea,
input[type=password] {
    float: left;
    line-height: 30px;
    border: 1px solid #cfcfcf;
    height: 30px;
    padding: 0 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

form {
    padding: 10px;
}

/*-------Responsive styles---------*/

@media only screen and (max-width: 992px) {
    .navbar-default .navbar-right {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        min-height: 0;
    }

    .navbar-default .navbar-left li {
        border: none;
        padding-left: 15px;
    }

    .footer-bottom .footer-some {
        text-align: center;
    }

    .content h1 {
        margin: 0 0 25px;
        padding: 20px 0;
    }
}

@media screen and (max-width: 1050px) {
    .login-part {
        border-bottom: 1px solid #dc092f;
    }
}

.radio label{
	width: 100%
}