@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
   font-family: "Roboto", sans-serif; 
}

h1 {
	/* font-family: "Roboto", sans-serif; */
    margin: 15px 0 15px 0;
    padding: 0;
    color: #3EA2E0;
    font-size: 20px;
    line-height: 28px;
}

.ribbonmobile {
    margin-left: 15px;
}

p   {
    font-size: 17px;
    line-height: 34px;
    font-family: "Roboto", sans-serif;
    color: #333;
}

label.required:after {
    content: '';
    display: none;
}

label {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 17px;
    font-weight: 400;
}

.btn-custom {
    background-color: #3ea2e0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-weight:700;
    padding: 12px 34px;
    text-transform: uppercase;
}

.btn-custom:hover {
    opacity: 0.8;
    color: #fff;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 14px;
    height: auto;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 16px;
    font-weight: 400;
}

.form-control:focus {
    -webkit-box-shadow: 0 0 4px 0 #3ea2e0;
    box-shadow: 0 0 4px 0 #3ea2e0;
    border: 1px solid #333;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

div.show-on-big {
    padding-right: 15px;
    padding-left: 15px;
}

#wrapper {
    padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
   h1 {
    letter-spacing: 0;
   }
}


