.login-part {
    border-right: 1px solid #dc092f;
}

@font-face {
    font-family:'generali-icon';
    src: url('../fonts/generali-icon.ttf');
}

.header-logo{
    padding: 15px 0;
}

@font-face {
    font-family:'Helvetica Medium';
    src: url('../fonts/Helvetica Medium.eot');
    src: url('../fonts/Helvetica Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica Medium.woff2') format('woff2'),
    url('../fonts/Helvetica Medium.woff') format('woff'),
    url('../fonts/Helvetica Medium.svg#Helvetica Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Helvetica Light';
    src: url('../fonts/Helvetica Light.eot');
    src: url('../fonts/Helvetica Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica Light.woff2') format('woff2'),
    url('../fonts/Helvetica Light.woff') format('woff'),
    url('../fonts/Helvetica Light.svg#Helvetica Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/*@font-face {
    font-family:'generali-icon';
    src: url('../fonts/generali-icon.eot');
    src: url('../fonts/generali-icon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/generali-icon.woff2') format('woff2'),
    url('../fonts/generali-icon.woff') format('woff'),
    url('../fonts/generali-icon.svg#generali-icon') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0020;
}*/

@font-face {
    font-family: 'FS Joey Web';
    src: url('../fonts/FS Joey Web.eot');
    src: url('../fonts/FS Joey Web.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FS Joey Web.woff2') format('woff2'),
    url('../fonts/FS Joey Web.woff') format('woff'),
    url('../fonts/FS Joey Web.svg#FS Joey Web') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'FS Joey Web';
    src: url(../fonts/FSJoeyWeb-Bold.eot);
    src: url(../fonts/FSJoeyWeb-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/FSJoeyWeb-Bold.woff) format('woff');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'FS Joey Web';
    src: url(../fonts/FSJoeyWeb-Medium.eot);
    src: url(../fonts/FSJoeyWeb-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/FSJoeyWeb-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal
}

body {
    font-size: 16px;
    font-family:'Helvetica Light', sans-serif;
}

p {
    line-height: 22px;
    margin: 0 0 10px;
}

a,
a:hover {
    color: #c5281c;
}


/*.some-facebook:hover {
    color: #3b5998 !important;
}

.some-youtube:hover {
    color: #cc181e !important;
}

.some-twitter:hover {
    color: #00aced !important;
}*/

header {
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
}

/*+++++++++++++++   SLIDER STYLES  +++++++++++++++++++++*/

.slide {
    position: relative;
}

.slide:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 9;
    
}

.slider-text {
    position: absolute;
    z-index: 99;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider-text h1 {
    font-size: 50px;
    position: relative;
    font-weight: 500;
    color: #fff;
    padding-bottom: 36px;
}

.slider-text h1:after {
    content: '';
    border: 1px solid #c5281c;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 75%;
    transform: translateX(-50%);
}

.slider-text p {
    font-size: 20px;
    color: #fff;
    margin-top: 45px;
}

.header-slider img {
    width: 100%;
    height: auto;
}

.header-slider img:focus {
    border: none;
    outline: 0;
}

.slick-arrow {
    width: 70px;
    height: 70px;
    background-color: #c5281c;
}

.slick-next {
    right: 0;
    z-index: 99;
}

.slick-prev {
    left: 0;
    z-index: 99;
}

.slick-prev:before,
.slick-next:before {
    font-family:'generali-icon';
    font-size: 30px;
}


.slick-prev:before {
    content: "\226a";

}

.slick-next:before {
    content: "\226b";
}

.slick-prev:focus,
.slick-next:focus {
    background-color: #c5281c;
}

.slick-next:focus:before,
.slick-prev:focus:before {
    color: #fff;
}

.slick-prev:hover,
.slick-next:hover {
    background: rgba(255,255,255,0.7);

}

.slick-next:hover:before,
.slick-prev:hover:before {
    color: #c5281c;
}





/*header .header-logo {
    padding: 46px 0 0 20px;
    margin-bottom: 45px;
}*/

.navbar-default {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    margin-top: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: #333;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active>a {
    color: #c5281c !important;
    background-color: #dddddd;
    font-family:'Helvetica Medium', sans-serif;
}

.navbar-header {
    text-align: center;
}

.navbar-header button {
    margin: 0;
    border-radius: 0;
    border-bottom: none;
    /*padding: 24px 32px 21px 29px;*/
}

.navbar-toggle {
    float: none;
    text-transform: uppercase;
    color: #555;
    font-weight: 700;
    border: none;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav {
    float: none !important;
    width: 100%;
    background-color: #f2f2f2;
}

.navbar-left li {
    font-weight: 700;
    border-bottom: 1px solid #cdcdcd;
    float: none;
}

.navbar-left li a {
    font-weight: 500;
    padding-right: 18px;
}

/*.navbar-right {
    padding-left: 4px;
}*/

/*.navbar-default .navbar-right li a {
    padding-right: 10px;
    color: #b7b7b7;
}*/

/*********************CONTENT****************/

.content {
    background-color: #fff;
    padding-bottom: 25px;
}

.content .post-header {
    padding: 0;
    position: relative;
}

.content .post-header img {
    width: 100%;
    height: auto;
}

.content .post-header .date {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 15px;
}

.content .post-header .date p {
    margin: 0;
}

#ribbon {
    padding-left: 15px;
}

/*.checkbox label,
.radio label {
    padding-left: 0;
}*/

.content h1 {
    font-family:'Helvetica Medium', sans-serif;
    /*padding: 45px 0;*/
    line-height: 38px;
    color: #c5281c;
    font-size: 30px;
}

.content h4 {
    margin: 0 0 8px;
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
}

/*.content a {
    display: block;
    margin: 8px 0 25px;
    text-decoration: none;
}*/

.content .content-paragraph {
    font-style: italic;
    padding-left: 18px;
}

.content .content-paragraph p {
    margin: 63px 0 39px;
}

.content .content-blogs {
    margin-bottom: 30px;
}

.content h2 {
    color: #00afd0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
}

/**********FOOTER*******************/
footer {
    /*color: #fff;*/
    /*border-bottom: 1px solid #555;*/
}

/*footer .blog-info {
    font-size: 14px;
    line-height: 20px;
    background-color: #333;
}

.blog-info a,
.content a {
    color: #e2001a;
}

.blog-info .greetings .greetings-content {
    padding-top: 20px;
    margin-bottom: 20px;
}

.greetings .greetings-content .footer-logo {
    margin-bottom: 30px;
}

footer .blog-info h3,
footer .blog-info h4,
footer .blog-info h5,
footer .blog-info h6 {
    margin-top: 0px;
    color: #fff;
    font-family: "FS Joey Web", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.blog-info .contact {
    margin-top: 54px;
    text-align: center;
}

.blog-info .contact address {
    margin-left: 12px;
    margin-right: 28px;
    padding: 20px;
    border: 1px solid #e6e6e6;
}

.contact address .address {
    line-height: 22px;
    margin-bottom: 30px;
}

.contact address .phone,
.contact address .email {
    margin-bottom: 0;
}*/

footer {
    padding-bottom: 30px;
}

footer:before {
    content: '';
    height: 2px;
    border-top: 2px solid #c5281c;
    padding-top: 30px;
}

.social-block {
    margin-bottom: 25px;
}

.social-block a {
    font-size: 13px;
    color: #c5281c;
    padding-left: 26px;
    position: relative;
    margin-right: 20px;
}

.social-block a:last-child {
    margin-right: 0;
}

.social-block a:before {
    font-family:'generali-icon';
    position: absolute;
    top: -8px;
    left: 0;
    font-size: 21px;
}

.facebook-icon:before {
    content: '\222e';
    color: #3b5998;
}

.twitter-icon:before {
    content: "\1f426";
    color: #55acee;
}

.xing-icon:before {
    content: "\2277";
    color: #026466;
}

.youtube-icon:before {
    content: "\1f3a5";
    color: #e52d27;
}

.footer-menu a {
    font-size: 13px;
    color: #333;
    margin-right: 20px;
}

.footer-brand img {
    max-width: 143px;
}

.copyright p {
    font-family:'Helvetica Medium', sans-serif;
    color: #333;
    font-size: 13px;
}



/*footer .footer-categories {
    padding-top: 15px;
    padding-bottom: 13px;
    text-align: center;
    background-color: #262626;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
}

footer .footer-categories ul {
    margin-bottom: 0;
}

.footer-categories ul li {
    padding: 0 12px;
}

.footer-categories ul li a,
.footer-nav nav ul li a {
    text-decoration: none;
    color: inherit;
}

footer .footer-bottom {
    background-color: #262626;
    font-size: 12px;
}

.footer-bottom .footer-some {
    margin-top: 15px;
}

.footer-bottom .footer-some a {
    padding-left: 7px;
    padding-right: 7px;
    color: inherit;
}

footer .footer-bottom .footer-nav {
    text-align: right;
    padding-top: 15px;
}

.footer-bottom .footer-nav nav ul {
    margin-bottom: 0;
    padding-bottom: 13px;
}

.footer-nav nav ul li {
    padding: 0 5px 0 5px;
}

.footer-nav nav ul .for-after:after {
    content: '';
    display: inline-block;
    margin-left: 12px;
    height: 10px;
    border-right: 1px solid #d7d7d7;
}*/

.btn.btn-custom {
    background-color: #fff;
    text-align: center;
    min-width: 74px;
    padding: 2px 15px;
    color: #c5281c;
    border: 1px solid #c5281c;
    font-size: 14px;
    font-weight: bold;
    height: 37px;
    line-height: 30px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 0;
    outline: none !important;
}

.btn.btn-custom:hover {
    color: #fff;
    background-color: #c5281c;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

input[type=text],
input[type=email],
select,
textarea,
input[type=password] {
    float: left;
    line-height: 30px;
    border: 1px solid #cfcfcf;
    height: 40px !important;
    padding: 0 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #cecece;
}

/*form {
    padding: 10px;
}*/

/*++++++++++++ SCROLL TO UP ++++++++++++*/

/*.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:20px;
    display:none;
    text-indent:-9999px;
    content: '"\2b06"';
    background-color: mediumvioletred;
}*/

/*
.scrollup:after {
    content: "\2b06";
    color: #000;
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;

}
*/

/*-------Responsive styles---------*/

@media only screen and (max-width: 1000px) {
    .slick-arrow {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-default .navbar-right {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-default {
        margin-top: 0;
        background-color: #c5281c;
        border: none;
    }

    .navbar-nav {
        margin: 0;
    }
    
    .navbar-toggle i {
        font-size: 32px;
        color: #fff;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: inherit;
    }

    .slick-arrow {
        width: 50px;
        height: 50px;
        top: 80%;
    }

    .slider-text {
        display: none;
    }

    footer,
    .footer-brand,
    .copyright {
        text-align: center;
    }

    .footer-brand {
        margin-top: 30px;
    }

    .social-block a {
        margin-right: 10px;
    }
    
}

@media only screen and (max-width: 400px) {
    .social-block a:before {
        top: -26px;
        left: 50%;
        transform: translateX(-50%);
    }

    .social-block a {
        padding-left: 0;
        margin-right: 20px;
    }
}

/*@media only screen and (max-width: 768px) {
    .navbar {
        min-height: 0;
    }

    .navbar-default .navbar-left li {
        border: none;
        padding-left: 15px;
    }

    .footer-bottom .footer-some {
        text-align: center;
    }

    .content h1 {
        margin: 0 0 25px;
        padding: 20px 0;
    }
}*/

@media screen and (max-width: 1050px) {
    .login-part {
        border-bottom: 1px solid #dc092f;
    }
}

.radio label{
	width: 100%
}