@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

@font-face {
    font-family: 'FS Joey Web';
    src: url(../fonts/FSJoeyWeb-Bold.eot);
    src: url(../fonts/FSJoeyWeb-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/FSJoeyWeb-Bold.woff) format('woff');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'FS Joey Web';
    src: url(../fonts/FSJoeyWeb-Medium.eot);
    src: url(../fonts/FSJoeyWeb-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/FSJoeyWeb-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Helvetica Medium';
    src: url('../fonts/Helvetica Medium.eot');
    src: url('../fonts/Helvetica Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica Medium.woff2') format('woff2'),
    url('../fonts/Helvetica Medium.woff') format('woff'),
    url('../fonts/Helvetica Medium.svg#Helvetica Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('../fonts/Helvetica Light.eot');
    src: url('../fonts/Helvetica Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica Light.woff2') format('woff2'),
    url('../fonts/Helvetica Light.woff') format('woff'),
    url('../fonts/Helvetica Light.svg#Helvetica Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/*@font-face {
    font-family:'generali-icon';
    src: url('../fonts/generali-icon.eot');
    src: url('../fonts/generali-icon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/generali-icon.woff2') format('woff2'),
    url('../fonts/generali-icon.woff') format('woff'),
    url('../fonts/generali-icon.svg#generali-icon') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0020;
}*/

@font-face {
    font-family: 'FS Joey Web';
    src: url('../fonts/FS Joey Web.eot');
    src: url('../fonts/FS Joey Web.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FS Joey Web.woff2') format('woff2'),
    url('../fonts/FS Joey Web.woff') format('woff'),
    url('../fonts/FS Joey Web.svg#FS Joey Web') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family: 'generali-icon';
    src: url('../fonts/generali-icon.ttf');
}

.login-part {
    border-right: 1px solid #dc092f;
}

.header-logo {
    padding: 15px 0;
}

body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
    min-height: calc(100vh - 93px);
}

.checkbox input[type=checkbox] {
    margin-left: 0;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px;
}

a {
    color: #005da9;
}

a:hover {
    color: #e30034;
    text-decoration: none;
}

/*.some-facebook:hover {
    color: #3b5998 !important;
}

.some-youtube:hover {
    color: #cc181e !important;
}

.some-twitter:hover {
    color: #00aced !important;
}*/

header {
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
}

/*+++++++++++++++   SLIDER STYLES  +++++++++++++++++++++*/

.slide {
    position: relative;
}

.slide:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;

}

.slider-text {
    position: absolute;
    z-index: 99;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider-text h1 {
    font-size: 50px;
    position: relative;
    font-weight: 500;
    color: #fff;
    padding-bottom: 36px;
}

.slider-text h1:after {
    content: '';
    border: 1px solid #c5281c;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 75%;
    transform: translateX(-50%);
}

.slider-text p {
    font-size: 20px;
    color: #fff;
    margin-top: 45px;
}

.header-slider img {
    width: 100%;
    height: auto;
}

.header-slider img:focus {
    border: none;
    outline: 0;
}

.slick-arrow {
    width: 70px;
    height: 70px;
    background-color: #c5281c;
}

.slick-next {
    right: 0;
    z-index: 99;
}

.slick-prev {
    left: 0;
    z-index: 99;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'generali-icon';
    font-size: 30px;
}

.slick-prev:before {
    content: "\226a";

}

.slick-next:before {
    content: "\226b";
}

.slick-prev:focus,
.slick-next:focus {
    background-color: #c5281c;
}

.slick-next:focus:before,
.slick-prev:focus:before {
    color: #fff;
}

.slick-prev:hover,
.slick-next:hover {
    background: rgba(255, 255, 255, 0.7);

}

.slick-next:hover:before,
.slick-prev:hover:before {
    color: #c5281c;
}

/*header .header-logo {
    padding: 46px 0 0 20px;
    margin-bottom: 45px;
}*/

.navbar-default {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: #005da9;
    font-size: 15px;
    padding: 7px 0 6px 0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a {
    color: #e30034 !important;
    background: none;
}

.navbar-default .navbar-nav > li.active > a {
    font-weight: 600;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: none;
}

.navbar-header {
    text-align: center;
}

.navbar-header button {
    margin: 0;
    border-radius: 0;
    border-bottom: none;
    /*padding: 24px 32px 21px 29px;*/
}

.navbar-toggle {
    float: none;
    text-transform: uppercase;
    color: #555;
    font-weight: 700;
    border: none;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav {
    float: none !important;
    width: 100%;
}

.navbar-left li {
    font-weight: 700;
    border-bottom: 1px solid #acacac;
    float: none;
}

.navbar-left li a {
    font-weight: 500;
    padding-right: 18px;
}

/*.navbar-right {
    padding-left: 4px;
}*/

/*.navbar-default .navbar-right li a {
    padding-right: 10px;
    color: #b7b7b7;
}*/

/*********************CONTENT****************/

.content {
    background-color: #fff;
    padding-bottom: 25px;
}

.content .post-header {
    /*padding: 0;*/
    position: relative;
}

.content .post-header img {
    width: 100%;
    height: auto;
}

.content .post-header .date {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 15px;
}

.content .post-header .date p {
    margin: 0;
}

#ribbon {
    padding-left: 15px;
}

/*.checkbox label,
.radio label {
    padding-left: 0;
}*/
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {

    position: absolute;
    margin-top: 4px\9;
}

.content h1 {
    /*padding: 45px 0;*/
    line-height: 38px;
    color: #644f54;
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 38px;
}

.content h4 {
    margin: 0 0 8px;
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
}

/*.content a {
    display: block;
    margin: 8px 0 25px;
    text-decoration: none;
}*/

.content .content-paragraph {
    font-style: italic;
    padding-left: 18px;
}

.content .content-paragraph p {
    margin: 63px 0 39px;
}

.content .content-blogs {
    margin-bottom: 30px;
}

.content h2 {
    color: #00afd0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
}

/**********FOOTER*******************/

footer {
    background: #928285;
    color: #fff;
    padding: 30px 0;
}

.copyright p {
    display: inline-block;
}

.copyright p,
.copyright a {
    font-size: 14px;
    color: #fff;
}

.copyright a {
    padding-left: 10px;
}

.copyright a:hover {
    color: #8cb1cc;
    text-decoration: none;
}

.copyright a:before {
    display: inline-block;
    position: relative;
    top: -1px;
    padding-right: 4px;
    font-family: "Glyphicons IFX";
    font-size: 7px;
    font-weight: 400;
    content: "\e639";
    zoom: 1;
}

/*footer:before {
    content: '';
    height: 2px;
    border-top: 2px solid #c5281c;
    padding-top: 30px;
}

.social-block {
    margin-bottom: 25px;
}

.social-block a {
    font-size: 13px;
    color: #c5281c;
    padding-left: 26px;
    position: relative;
    margin-right: 20px;
}

.social-block a:last-child {
    margin-right: 0;
}

.social-block a:before {
    font-family:'generali-icon';
    position: absolute;
    top: -8px;
    left: 0;
    font-size: 21px;
}

.facebook-icon:before {
    content: '\222e';
    color: #3b5998;
}

.twitter-icon:before {
    content: "\1f426";
    color: #55acee;
}

.xing-icon:before {
    content: "\2277";
    color: #026466;
}

.youtube-icon:before {
    content: "\1f3a5";
    color: #e52d27;
}

.footer-menu a {
    font-size: 13px;
    color: #333;
    margin-right: 20px;
}

.footer-brand img {
    max-width: 143px;
}

.copyright p {
    font-family:'Helvetica Medium', sans-serif;
    color: #333;
    font-size: 13px;
}*/

.form-control {
    padding: 7px;
    color: #333;
    font-size: 16px;
    border: 1px solid #beb4b6;
    line-height: 16px;
    border-radius: 0;
    height: 36px;
}

.btn.btn-custom {
    background-color: #005da9;
    text-align: center;
    min-width: 74px;
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #004f90;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 0;
    outline: none !important;
}

.btn.btn-custom:hover {
    color: #fff;
    background-color: #004178;
}

.form-group label {
    color: #333;
}

label.required:after {
    color: #666;
}

.table-summary {
    font-size: 16px !important;
    line-height: 24px !important;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif !important;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

input[type=text],
input[type=email],
select,
textarea,
input[type=password] {
    float: left;
    line-height: 30px;
    border: 1px solid #cfcfcf;
    padding: 0 10px;
    width: 100%;
    border: 1px solid #cecece;
}

/*form {
    padding: 10px;
}*/

/*++++++++++++ SCROLL TO UP ++++++++++++*/

/*.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:20px;
    display:none;
    text-indent:-9999px;
    content: '"\2b06"';
    background-color: mediumvioletred;
}*/

/*
.scrollup:after {
    content: "\2b06";
    color: #000;
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;

}
*/

/*-------Responsive styles---------*/

@media only screen and (max-width: 1000px) {
    .slick-arrow {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-default .navbar-right {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-default {
        margin-top: 0;
        border-bottom: 2px solid #e9e6e7;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-toggle i {
        font-size: 32px;
        color: #005da9;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: inherit;
    }

    .slick-arrow {
        width: 40px;
        height: 40px;
        top: 79%;
    }

    .slider-text {
        display: none;
    }

    .contact-block {
        padding: 0 15px;
    }

    .copyright {
        text-align: center;
    }

    .copyright p,
    .copyright a {
        display: block;
    }

}

@media only screen and (max-width: 400px) {
    .social-block a:before {
        top: -26px;
        left: 50%;
        transform: translateX(-50%);
    }

    .social-block a {
        padding-left: 0;
        margin-right: 20px;
    }
}

/*@media only screen and (max-width: 768px) {
    .navbar {
        min-height: 0;
    }

    .navbar-default .navbar-left li {
        border: none;
        padding-left: 15px;
    }

    .footer-bottom .footer-some {
        text-align: center;
    }

    .content h1 {
        margin: 0 0 25px;
        padding: 20px 0;
    }
}*/

@media screen and (max-width: 1050px) {
    .login-part {
        border-bottom: 1px solid #dc092f;
    }
}

.radio label {
    width: 100%
}

/* Glyphicon*/

@font-face {
    font-family: "Glyphicons IFX";
    src: url("../fonts/glyphicons-ifx.woff");
}

.glyphicon {
    font-family: "Glyphicons IFX";
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-other:before, .glyphicon-txt:before {
    content: "\e605";
}

.glyphicon-zip:before {
    content: "\e600";
}

.glyphicon-xls:before, .glyphicon-xlsx:before, .glyphicon-xlt:before, .glyphicon-xltx:before {
    content: "\e601";
}

.glyphicon-pot:before, .glyphicon-potx:before, .glyphicon-ppt:before, .glyphicon-pptx:before {
    content: "\e602";
}

.glyphicon-png:before {
    content: "\e603";
}

.glyphicon-eps:before, .glyphicon-pdf:before {
    content: "\e604";
}

.glyphicon-jpeg:before, .glyphicon-jpg:before {
    content: "\e606";
}

.glyphicon-bmp:before, .glyphicon-gif:before {
    content: "\e607";
}

.glyphicon-exe:before {
    content: "\e608";
}

.glyphicon-doc:before, .glyphicon-docx:before {
    content: "\e609";
}

.glyphicon-forward:before {
    content: "\e60a";
}

.glyphicon-dot:before, .glyphicon-dotx:before {
    content: "\e60b";
}

.glyphicon-delete:before, .glyphicon-deselect:before {
    content: "\e658";
}

.glyphicon-back:before {
    content: "\e60c";
}

.glyphicon-arrow-left:before {
    content: "\e60d";
}

.glyphicon-arrow-right:before {
    content: "\e60e";
}

.glyphicon-arrow-right-after:after {
    content: "\e60e";
}

.glyphicon-checked:before {
    content: "\e60f";
}

.glyphicon-close:before {
    content: "\e610";
}

.glyphicon-home:before {
    content: "\e611";
}

.glyphicon-menu:before {
    content: "\e612";
}

.glyphicon-search:before {
    content: "\e613";
}

.glyphicon-play:before {
    content: "\e614";
}

.glyphicon-play-after:after {
    content: "\e614";
}

.glyphicon-play3:before {
    content: "\e903"
}

.glyphicon-play3-after:after {
    content: "\e903";
}

.glyphicon-pause2:before {
    content: "\e904";
}

.glyphicon-pause2-after:after {
    content: "\e904";
}

.glyphicon-facebook1:before {
    content: "\e615";
}

.glyphicon-facebook2:before {
    content: "\e616";
}

.glyphicon-twitter1:before {
    content: "\e617";
}

.glyphicon-twitter2:before {
    content: "\e618";
}

.glyphicon-gplus:before {
    content: "\e619";
}

.glyphicon-addthis:before {
    content: "\e61a";
}

.glyphicon-mail:before {
    content: "\e61b";
}

.glyphicon-arrow-down:before {
    content: "\e61c";
}

.glyphicon-arrow-up:before {
    content: "\e61d";
}

.glyphicon-youtube1:before {
    content: "\e61e";
}

.glyphicon-star:before {
    content: "\e61f";
}

.glyphicon-youtube2:before {
    content: "\e620";
}

.glyphicon-gplus2:before {
    content: "\e622";
}

.glyphicon-mobile:before {
    content: "\e621";
}

.glyphicon-quote:before {
    content: "\e623";
}

.glyphicon-overview:before {
    content: "\e624";
}

.glyphicon-mobile2:before {
    content: "\e625";
}

.glyphicon-calendar:before {
    content: "\e626";
}

.glyphicon-advancedsearch:before {
    content: "\e627";
}

.glyphicon-linkedin1:before {
    content: "\e629";
}

.glyphicon-linkedin2:before {
    content: "\e628";
}

.glyphicon-arrow_down:before {
    content: "\e62a";
}

.glyphicon-arrow_up:before {
    content: "\e62b";
}

.glyphicon-button_arrow:before {
    content: "\e62c";
}

.glyphicon-button_play:before {
    content: "\e62d";
}

.glyphicon-product:before {
    content: "\e62e";
}

.glyphicon-sm-linkedin012:before {
    content: "\e62f";
}

.glyphicon-sm-linkedin022:before {
    content: "\e630";
}

.glyphicon-support-chat:before {
    content: "\e631";
}

.glyphicon-support-faq:before {
    content: "\e632";
}

.glyphicon-support-forum:before {
    content: "\e633";
}

.glyphicon-support-email:before {
    content: "\e634";
}

.glyphicon-support-newsletter:before {
    content: "\e635";
}

.glyphicon-support-phone:before {
    content: "\e636";
}

.glyphicon-support-webinar:before {
    content: "\e654";
}

.glyphicon-webcast:before {
    content: "\e637";
}

.glyphicon-cart:before {
    content: "\e638";
}

.glyphicon-link:before {
    content: "\e639";
}

.glyphicon-quoteEnd:before {
    content: "\e63a";
}

.glyphicon-arrow-down-bold:before {
    content: "\e63b";
}

.glyphicon-arrow-up-bold:before {
    content: "\e63c";
}

.glyphicon-sm-wechat:before {
    content: "\e63d";
}

.glyphicon-download:before {
    content: "\e655";
}

.glyphicon-webcast_small:before {
    content: "\e656";
}

.glyphicon-info:before {
    content: "\e657";
}

.glyphicon-loop:before {
    content: "\e905";
}

.glyphicon-close-thin:before {
    content: "\e90b";
}

.glyphicon-play-rounded:before {
    content: "\e90d";
}

.glyphicon-halogenfree:before {
    content: "\e90e";
}

.glyphicon-rohs:before {
    content: "\e90f";
}

.glyphicon-hr-1:before {
    content: "\e63e";
}

.glyphicon-hr-2:before {
    content: "\e63f";
}

.glyphicon-hr-3:before {
    content: "\e640";
}

.glyphicon-hr-4:before {
    content: "\e641";
}

.glyphicon-hr-5:before {
    content: "\e642";
}

.glyphicon-hr-6:before {
    content: "\e643";
}

.glyphicon-hr-7:before {
    content: "\e644";
}

.glyphicon-hr-8:before {
    content: "\e645";
}

.glyphicon-hr-9:before {
    content: "\e646";
}

.glyphicon-hr-10:before {
    content: "\e647";
}

.glyphicon-hr-11:before {
    content: "\e648";
}

.glyphicon-hr-12:before {
    content: "\e649";
}

.glyphicon-hr-13:before {
    content: "\e64a";
}

.glyphicon-hr-14:before {
    content: "\e64b";
}

.glyphicon-hr-15:before {
    content: "\e64c";
}

.glyphicon-hr-16:before {
    content: "\e64d";
}

.glyphicon-hr-17:before {
    content: "\e64e";
}

.glyphicon-hr-18:before {
    content: "\e64f";
}

.glyphicon-hr-19:before {
    content: "\e650";
}

.glyphicon-hr-20:before {
    content: "\e651";
}

.glyphicon-hr-21:before {
    content: "\e652";
}

.glyphicon-hr-22:before {
    content: "\e653";
}

.glyphicon-pdf2:before {
    content: "\e900";
}

.glyphicon-mail2:before {
    content: "\e901";
}

.glyphicon-print:before {
    content: "\e902";
}

.glyphicon-alert:before {
    content: "\e906";
}

.glyphicon-check:before {
    content: "\e907";
}

.glyphicon-edit:before {
    content: "\e908";
}

.glyphicon-lock-closed:before {
    content: "\e909";
}

.glyphicon-lock-opened:before {
    content: "\e90a";
}

.glyphicon-arrow-download:after {
    content: "\e90c";
}

/*Glyphicon end*/

.contact-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #acacac;
}

.contact-item img {
    width: 103px;
    vertical-align: top;
}

.contact-item .contact-item-info {
    display: inline-block;
    padding: 15px;
}

.contact-item-info h5 {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
}

.contact-item-info p {
    font-size: 16px;
}

@media screen and (max-width: 450px) {
    .contact-item,
    .content h1,
    .contact-block {
        text-align: center;
    }

    .contact-item .contact-item-info {
        display: block;
    }

    .content h1 {
        font-size: 37px;
    }
}