@font-face {
    font-family: 'Replica Pro Heavy';
    src: url('../fonts/ReplicaPro-Heavy.eot');
    src: url('../fonts/ReplicaPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ReplicaPro-Heavy.woff2') format('woff2'),
    url('../fonts/ReplicaPro-Heavy.woff') format('woff'),
    url('../fonts/ReplicaPro-Heavy.svg#ReplicaPro-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/ReplicaPro-Bold.eot');
    src: url('../fonts/ReplicaPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ReplicaPro-Bold.woff2') format('woff2'),
    url('../fonts/ReplicaPro-Bold.woff') format('woff'),
    url('../fonts/ReplicaPro-Bold.svg#ReplicaPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/ReplicaPro.eot');
    src: url('../fonts/ReplicaPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ReplicaPro.woff2') format('woff2'),
    url('../fonts/ReplicaPro.woff') format('woff'),
    url('../fonts/ReplicaPro.svg#ReplicaPro') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Replica Pro';
    src: url('../fonts/ReplicaPro-Light.eot');
    src: url('../fonts/ReplicaPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ReplicaPro-Light.woff2') format('woff2'),
    url('../fonts/ReplicaPro-Light.woff') format('woff'),
    url('../fonts/ReplicaPro-Light.svg#ReplicaPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

.quick-stories {
    margin: 0 auto;
}

/*Menu*+++++++++++++++++++++++++++++++++++++++++++++++++*/

nav {
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav a {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    padding: 7px;
    display: inline-block;
}

nav a:hover,
a:focus {
    text-decoration: none;
    color: #009FDF;
}

.nav-toggle {
    display: none;
}

.nav-toggle span {
    width: 30px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    display: block;
}

/*menu end++++++++++++++++++++++++++++++++++++++++++++++++*/

/*.hero-cam {
    width: 500px;
    position: relative;
    bottom: 221px;
    left: 50%;
    transform: translate(-50%);
}

.hero-cam img {
    width: 100%;
    height: auto;
}*/

.content-block {
    padding-top: 30px;
}

.welcome-block {
    padding: 15px;
}

.ribbon-title {
    display: block;
    text-align: center;
}

.navbar-toggle span {
    width: 30px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    display: block;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: none;
}

header .glyphicon {
    font-size: 27px;
}

.affix a:focus,
.affix a:hover {
    color: #009c3b;
}

.well {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #009c3b;
    color: #009c3b;
}

.daily-schedule {
    margin: 40px 0;
}

.daily-schedule h2 {
    font-size: 19px;
}

.event-item-wrapp {
    font-size: 0;
    border-bottom: 3px solid #eee;
    padding: 5px 0;
}

.event-item-wrapp p {
    font-size: 14px;
    margin: 0;
    min-height: 22px;
    padding: 5px 0;
}

.time-block,
.event-block {
    display: inline-block;
}

.event-block .event-title {
    font-size: 16px;
    /*font-weight: bold;*/
}

.event-title {
    /*max-width: 553px;*/
    max-width: 753px;
    margin: 0 auto;
}

.logo {
    margin-bottom: 70px;
}

.logo img {
    width: 137px;
}

.event-title h1 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 76px;
    margin-bottom: 33px;
    padding: 0;
}

.event-title p {
    color: #fff;
    /* font-size: 28px; */
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.time-block {
    vertical-align: top;
    width: 20%;
}

.text-center {
    color: #fff;
}

.time-block p {
    font-weight: bold;
    font-size: 18px;
}

.event-block {
    width: 80%;
}

.container-fluid {
    padding: 0;
}

body {
    font-family: 'Replica Pro', sans-serif;
    margin: 0;
    color: #fff;
}

.for-gutter {
    padding-left: 30px;
    padding-right: 30px;
}

html, body {
    height: 100%;
}

#wrapper {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    margin-bottom: -66px;
}

#wrapper:after {
    content: "";
    display: block;
    /* This must be the same as the height of the footer */
    height: 66px;
}

a,
.btn-custom {
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

.clearfix::after,
.clearfix::before {
    content: '';
}

.clearfix::after {
    clear: both;
    display: block;
}

#HeaderMain {
    background-color: #000;
}

.slide h2 {
    font-family: 'Linotype Univers W02 Bold', sans-serif;
    margin-bottom: 24px;
    padding-bottom: 24px;
    color: #009c3b;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 6px solid #009c3b;
}

/*.ribbonmobile, .main-content {
    margin-left: -15px;
}*/

.buttons-p {
    text-align: center;
}

#ribbon {
    text-align: center;
    overflow: hidden;
}

h1 {
    font-family: 'Replica Pro', sans-serif;
    margin-bottom: 0;
    text-transform: none;
    color: #009FDF;
    margin-top: 10px;
    border-bottom: none;
    font-size: 27px;
    line-height: 46px;
    text-transform: uppercase;
    letter-spacing: 10px;
    display: inline-block;
    padding: 0 20px;
}

h2 {
    font-family: 'Replica Pro', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 18px;
    color: #fff;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
}

p {
    font-size: 18px;
    line-height: 36px;
}

header {
    font-family: 'Replica Pro', sans-serif;
    font-weight: 400;
    background-color: #000;
    padding: 10px 0;
    width: 100%;
}

.learn-more {
    background: #fff !important;
    border: 1px solid #009fdf !important;
    color: #009fdf !important;
}

.header-logo img {
    width: 100px;
}

.header-menu li a {
    color: #fff;
    font-size: 14px;
    position: relative;
    display: block;
    white-space: nowrap;
    padding: 7px;
    margin: 0 30px 10px 0;
}

/* bootstrap navigation */

.navbar-collapse {
    padding: 0;
}

.navbar-default {
    background: none;
    border: none;
    font-family: 'Replica Pro', sans-serif;
    text-transform: uppercase;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav {
    width: 100%;
    /*text-align: right;*/
}

.navbar-default .navbar-nav > li {
    float: none;
    display: inline-block;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    text-decoration: none;
    color: #d8d8d8;
    background: none;
}

.navbar-default .navbar-toggle {
    margin: 0 20px 0 0;
    border: none;
}

.navbar-default .navbar-toggle:focus {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.0);
}

.navbar-default .navbar-toggle:hover {
    border-radius: 0;
    color: #009c3b;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
}

.hotline {
    padding-top: 20px;
}

.hotline h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #113c2b;
}

.phone-icon {
    width: 60px;
    height: 60px;
    background-image: url(../images/picto-teaser.png);
    margin: 0 auto;
}

.phone-number {
    font-family: 'Replica Pro', sans-serif;
    color: #009c3b;
    font-size: 22px;
}

.main-container {
    /*max-width: 553px;*/
    max-width: 753px;
    display: block;
    margin-bottom: 35px;
    background-color: #000;
    /*margin-top: 100px;*/
    padding: 15px;
}

#MainNavigation {
    float: left;
}

input[type=submit] {
    -webkit-appearance: none;
/ / -webkit-border-radius: 0;
}

form {
    background: #000;
    padding: 15px;
}

.form-group {
    margin: 20px 0 15px;
}

.form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 34px;
    color: #555555;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group label {
    font-size: 18px;
    font-weight: normal;
}

label.required:after {
    color: #009fdf !important;
}

.checkbox input[type=checkbox] {
    margin-left: 0;
}

.summary-wrapper {
    padding-left: 15px;
}

hr {
    border-color: #009fdf;
}

.btn-custom,
.btn-custom:hover {
    font-family: 'Replica Pro', sans-serif;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #009fdf;
    padding: 8px 35px;
    border: 1px solid #009fdf;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus,
.btn-custom.active.focus,
.btn-custom.active:focus,
.btn-custom.focus,
.btn-custom:active.focus,
.btn-custom:active:focus,
.btn-custom:focus {
    color: #009fdf;
    border-color: #009fdf;
    background-color: #000;
    outline: none;
}

.pull-right {
    float: right;
}

footer {
    background-color: #000;
    padding: 5px 40px 10px;
    color: #666;
    font-size: 12px;
}

footer h6 {
    text-transform: uppercase;
    color: #A8A9AD;
}

.footer-container {
    width: 553px;
    margin: 0 auto;
}

footer p {
    font-size: 12px;
}

.footer-menu a {
    color: #fff;
    padding: 0 10px;
}

footer .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer .social-icons a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-right: 1px solid #231F20;
    padding-right: 10px;
    margin-right: 10px;
    color: #A8A9AD;
}

footer .social-icons a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

footer .social-icons a:hover {
    text-decoration: none;
    color: #009FDF;
    border-color: #009FDF;
}

.social-icons a:hover i {
    background-color: #009FDF;
}

footer .social-icons i {
    font-size: 20px;
    background: #A8A9AD;
    width: 26.56px;
    height: 26.56px;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2px;
    margin-right: 5px;
    color: #000;
}

.social-icons a:first-child:hover i,
.social-icons a:last-child:hover i {
    color: #009FDF;
}

.social-icons a:first-child i,
.social-icons a:last-child i {
    font-size: 31px;
    background: none;
    color: #A8A9AD;
}

footer .social-icons span {
    font-size: 10px;
}

/*.social-icons p {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.icon-facebook {
    background-position: 0 0;
}

.icon-facebook:hover {
    background-position: 25px 0;
}

.icon-youtube {
    background-position: 0 100px;
}

.icon-youtube:hover {
    background-position: 25px 100px;
}

.icon-pinterest {
    background-position: 0 50px;
}

.icon-pinterest:hover {
    background-position: 25px 50px;
}

.icon-instagram {
    background-position: 0 25px;
}

.icon-instagram:hover {
    background-position: 25px 25px;
}*/

.hide {
    display: none;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.column {
    width: 220px;
}

.column img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.left {
    float: left;
}

.attendee-image {
    width: 20%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.attendee-description {
    width: 80%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.attendee-image img {
    width: 100%;
}

.agenda-wrapper td {
    padding: 10px;
}

#breadcrumbs {
    display: none;
}

/*.widget-box {
    background: #EEE;
    padding: 10px;
    margin-bottom: 15px;
}*/

.login-part {
    border-left: 1px solid #b1b2b3;
}

.company-person {
    /*min-height: 150px;*/
    border-top: 1px solid #ddd;
    /*padding: 36px 0;*/
    padding: 15px 0;
}

.information3 .row,
.information4 .row {
    /*padding-bottom: 15px;*/
}

.radio-wrap {
    display: inline-block;
    margin-right: 10px;
}

.radio-wrap label {
    display: block;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
}

.feedback-block .form-group {
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
}

.custom-radio label {
    padding: 12px 0 12px 55px;
    margin-bottom: 5px;
    vertical-align: middle;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    color: #333333;
    position: relative;
}

.custom-radio label:before {
    box-sizing: content-box;
    content: ' ';
    border-radius: 50%;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    position: absolute;
    display: block;
    background-color: #fff;
    border: 1px solid #CCC;
}

.custom-radio input[type="checkbox"]:checked + label:after,
.custom-radio input[type="radio"]:checked + label:after {
    content: ' ';
    position: absolute;
    top: 11px;
    left: 11px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background: #f29200;
}

.custom-radio input {
    height: 1px;
    width: 1px;
    position: absolute;
    z-index: -1;
    left: 5px;
    top: 5px;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 10px;
}

#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
}

.slider {
    display: none;
    /*    margin-bottom: 20px;*/
}

.slider.slick-initialized {
    display: block;
}

.slide {
    position: relative;
}

.slide img {
    width: 100%;
}

.slick-prev {
    left: 20px !important;
    z-index: 99;
}

.slick-next {
    right: 20px !important;
}

.slide .slide-text {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.7);
}

.video-text {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Replica Pro';
}

.iframe-block iframe {
    width: 100%;
    height: 250px;
}

/*responsive styles*/
@media only screen and (min-width: 1700px) {
    .home-page-video-image {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1200px) {
    .social-icons p {
        display: block;
    }

    #wrapper {
        margin-bottom: -90px;
    }

    #wrapper:after {
        height: 90px;
    }

    .header-container {
        width: 100%;
        /*padding: 0;*/
    }
}

@media screen and (max-width: 1170px) {
    header {
        position: static;
        transform: none;
        width: 100%;
    }
}

@media screen and (min-width: 1050px) {
    .navbar-collapse.collapse {
        display: block !important;
    }

    .navbar-toggle {
        display: none;
    }
}

@media screen and (max-width: 1050px) {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-toggle {
        display: block !important;
        float: right;
        position: relative;
        bottom: -6px;
    }

    .navbar-header {
        float: none;
    }

    .login-part {
        border: none;
    }

    .guest-part {
        border-bottom: 1px solid #b1b2b3;
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 800px) {
    footer span {
        display: block;
        text-align: center;
        float: none !important;
    }

    footer {
        height: auto;
    }

}

@media screen and (max-width: 550px) {
    .attendee-image {
        padding: 15px 0;
    }

    h1 {
        font-size: 27px;
    }

    select,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        padding: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 24px;
    }
}

/*-------Responsive styles---------*/

@media only screen and (min-width: 992px) {
    nav ul {
        display: block !important;
    }
}

@media only screen and (max-width: 992px) {
    /*  .header-logo img {
          width: 140px;
          height: auto;
      }*/
    /*menu++++++++++++++++++++++*/
    nav ul {
        display: none;
        text-align: center;
    }

    .nav-toggle {
        display: inline-block;
        /*position: absolute;
        right: 15px;
        top: -15px;*/
    }

    nav ul li {
        display: block;
    }

    /*menu end+++++++++++++*/
    .header-menu li a {
        padding: 9px;
    }

    .slide .slide-text {
        position: static;
        width: 100%;
        padding: 0;
    }

    .slick-prev, .slick-next {
        top: 25%;
    }
}

@media only screen and (max-width: 720px) {

    #wrapper {
        margin-bottom: -150px;
    }

    #wrapper:after {
        height: 150px;
    }
}

@media only screen and (max-width: 768px) {

    .content-block {
        background: #000;
        padding: 0;
    }

    .footer-container,
    .welcome-block {
        width: 100%;
    }

    .event-title {
        max-width: 100%;
        background: url("../images/Background_photo.jpg");
        -webkit-background-size: cover;
        background-size: cover;
        padding: 107px 0;
    }

    footer h6 {
        text-align: center;
    }

    .social-icons span {
        display: none;
    }

    footer .social-icons a {
        border: none;
    }

    .for-gutter {
        padding: 0;
    }

    /* .hero-cam {
         width: 335px;
     }

     .video-container {
         height: 307px;
     }

     .home-page-video-image {
         transform: translate(-19%);
     }*/
    .navbar-toggle {
        bottom: 20px;
    }

    #wrapper {
        margin-bottom: -130px;
    }

    #wrapper:after {
        height: 130px;
    }

    header {
        border: none;
    }

    /*header .header-img {
        border-bottom: 5px solid #000;
    }*/
    .header-menu li {
        float: none;
        text-align: left !important;
    }

    .navbar {
        margin-top: 0;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-default .navbar-nav > li {
        display: block;
    }

    /*  .navbar-header {
          border-bottom: 1px solid #b1b2b3;
      }*/
    .navbar-default .navbar-nav > li > a {
        border-bottom: 1px solid #fff;
        background-color: #e4e4e4;
        padding: 10px 15px;
    }

    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        background-color: #e4e4e4;
    }

    .navbar-default .navbar-nav > li > a:after {
        display: none;
    }

    /*.header-logo img {
        width: 120px;
    }
*/
    .footer-menu,
    .social-icons {
        text-align: center;
    }

    footer .social-icons {
        margin-top: 20px;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .event-title h1 {
        font-size: 50px;
    }

    .logo {
        margin-bottom: 27px;
    }
}

@media only screen and (max-width: 515px) {
    footer .footer-logo,
    footer .social-icons,
    footer .event-name,
    footer .footer-link {
        text-align: center;
    }

    .header-menu li a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .event-title {
        padding: 47px 0;
    }

    .event-title h1 {
        font-size: 37px;
        margin-bottom: 0;
    }

    .event-title p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 380px) {
    header .social-icons {
        display: none;
    }

    .btn-custom {
        margin-top: 10px;
        width: 100%;
    }
}