body {
    font: normal 14px/20px Arial, Verdana, sans-serif;
    color: #333;
    margin: 0;
}

html, body {
    height: 100%;
}

#wrapper {
    height: auto;
    min-height: 100%;
    overflow: hidden;
    /* This must be the same as the height of the footer */
    margin-bottom: -55px;
}

#wrapper:after {
    content: "";
    display: block;
    /* This must be the same as the height of the footer */
    height: 55px;
}

a {
    text-decoration: none;
}

.clearfix::after,
.clearfix::before {
    content: '';
}

.clearfix::after {
    clear: both;
    display: block;
}

#HeaderWrapper {
    border-bottom: 1px solid #EDEDED;
}

#HeaderMain {
    background-color: #FFF;
}

h2 {
    margin-bottom: 24px;
    color: #000000;
    line-height: 22px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-logo {
    float: right;
    margin-top: 15px;
    cursor: pointer;
}

.header-menu a:hover {
    text-decoration: underline;
}

.header-menu {
    float: left;
    padding: 0;
    margin: 30px 0 0;
    list-style-type: none;
}

.header-menu li:first-child {
    margin-left: 0;
}

.header-menu li a {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-top: 6px;
    white-space: nowrap;
}

.header-menu li {
    float: left;
    margin-left: 17px;
    padding-top: 0;
    height: 60px;
}

.wrapper {
    max-width: 730px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

header {
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 0;
    height: 90px;
    z-index: 10;
}

.main-container {
    display: block;
    margin-top: 190px;
    margin-bottom: 35px;
    padding: 15px 30px 20px 30px;
    background-color: #FFF;
}

#MainNavigation {
    float: left;
}

select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    padding: 5px;
    border: 1px solid #B7B7B7;
    background-color: #EDEDED;
    /*max-width: 453px;*/
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -webkit-appearance: textfield;
}

input[type=submit] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

form p {
    /*max-width: 453px;*/
}

.form-group {
    margin: 20px 0 15px;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    margin: 10px 0;
    border: 1px solid #0B3D91;
    font: normal 14px Arial, Verdana, sans-serif;
    text-transform: uppercase;
    color: #FFF;
    background-color: #0B3D91;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.pull-right {
    float: right;
}

footer {
    background: #000;
    color: #fff;
    height: 56px;
    line-height: 55px;
    overflow: auto;
}

footer a {
    color: #eee;
}

.hide {
    display: none;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.column {
    width: 220px;
}

.column img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.left {
    float: left;
}

.attendee-image {
    width: 20%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.attendee-description {
    width: 80%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.attendee-image img {
    width: 100%;
}

.agenda-wrapper {
    padding: 10px;
}

.time-wrapper {
    width: 95px;
    padding: 10px;
    vertical-align: top;
}

.topic-wrapper {
    padding: 10px;
    vertical-align: top;
}

@media screen and (max-width: 800px) {
    footer span {
        display: block;
        text-align: center;
        float: none !important;
    }

    footer {
        height: auto;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }

    #wrapper {
        margin-bottom: -110px;
    }

    #wrapper:after {
        height: 110px;
    }
}

@media screen and (max-width: 550px) {
    .main-container {
        margin-top: 113px;
    }

    .attendee-image {
        padding: 15px 0;
    }

    body {
        font: normal 16px/20px Arial, Verdana, sans-serif;
    }

    select,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        padding: 10px;
        font-size: 16px;
    }
}