/* DON'T MODIFY THIS FILE!!!!
   You can use main.css */
.display-none {
    display: none;
}

label.error, .login-error {
    color: red;
}

.form-horizontal .control-label.text-left {
    text-align: left;
}

label.required:after {
    content: '*';
    color: #ff0000;
}

.margin-top-40 {
    margin-top: 40px;
}

.table-summary {
    word-break: break-all;
    text-align: left;
}

/* DON'T MODIFY THIS FILE!!!!
   You can use main.css */
.display-none {
    display: none;
}

label.error, .login-error {
    color: red;
}

.form-horizontal .control-label.text-left {
    text-align: left;
}

label.required:after {
    content: '*';
    color: #ff0000;
}

.margin-top-40 {
    margin-top: 40px;
}

.table-summary {
    word-break: break-all;
}

#breadcrumbs {
    display: none;
}

.row::after,
.clearfix::after {
    clear: both;
}

.row::after,
.clearfix::after,
.row::before,
.clearfix::before {
    content: '';
    display: block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

a.hide {
    display: none;
}

.custom-checkbox label {
    cursor: pointer;
}