@media screen and (min-width: 801px) {
    .menu__block {
        display: block !important;
    }

    .header-inner {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {

    .theme-items {
        width: 50%;
    }

    .nav-toggle {
        display: block;
    }

    header {
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .logo-box {
        float: none;
        display: inline-block;
    }

    .menu__block_item.active:before {
        width: 20%;
        left: 40%;
    }

    .menu__block {
        position: absolute;
        top: 79px;
        left: 0;
        right: 0;
        display: none;
        background: #fff;
        margin-top: 0;
        float: none;
        text-align: center;
    }

    .menu__block_item {
        padding: 0;
        margin: 0;
        float: none;
        display: block;
        width: 100%;
    }

    .menu__block_item a {
        padding: 8px 0;
        width: 100%;
        display: block;
    }

    .content {
        margin-left: calc(8.33333337%) !important;
    }
}