
#MainNavigation {
    display: none;
    position: absolute;
    top: 75px;
    background: #fff;
    left: 0;
    right: 0;
}

.header-menu-btn {
    background: url(../images/menu.png) no-repeat center bottom;
    -webkit-background-size: contain;
    background-size: contain;
    height: 26px;
    width: 56px;
    padding-top: 52px;
    box-sizing: border-box;
    float: left;
}

.header-menu {
    float: none;
    margin: 0;
    padding: 0;
    background: #cccccc;
}

.header-menu li {
    display: block;
    float: none;
    height: auto;
    margin: 0;
    line-height: 30px;
    text-align: center;
}

/*@media (min-width: 1901px) {*/
/*#MainNavigation {*/
/*display: block !important;*/
/*}*/
/*}*/