@font-face {
    font-family: 'ZineSlabDisplayOT-Bold';
    src: url('../fonts/ZineSlabDisplayOT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ZineSlabDisplayOT-Bold.otf') format('opentype'),
    url('../fonts/ZineSlabDisplayOT-Bold.woff') format('woff'),
    url('../fonts/ZineSlabDisplayOT-Bold.ttf') format('truetype'),
    url('../fonts/ZineSlabDisplayOT-Bold.svg#ZineSlabDisplayOT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ZineSlabDisplayOT';
    src: url('../fonts/ZineSlabDisplayOT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ZineSlabDisplayOT.otf') format('opentype'),
    url('../fonts/ZineSlabDisplayOT.woff') format('woff'),
    url('../fonts/ZineSlabDisplayOT.ttf') format('truetype'),
    url('../fonts/ZineSlabDisplayOT.svg#ZineSlabDisplayOT') format('svg');
    font-weight: normal;
    font-style: normal;
}

a,
a:link,
a:visited,
a:focus,
a:active {
    color: #000;
    font-weight: normal;
    text-decoration: none;
}

p,
ol,
ul,
td,
div,
span,
input[type="submit"],
a {
    font: 15px/21px Arial, helvetica, sans-serif;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.hide {
    display: none !important;
}

footer .text {
    padding: 10px 20px;
}

.company{
    font-size: 12px;
}

header {
    overflow: hidden;
}

#wrapper,
footer {
    max-width: 670px;
    margin: 0 auto;
}

.event-details {
    background-color: #f0f0f0;
}

.event-button {
    text-align: center;
    clear: both;
    padding-bottom: 10px;
}

.header-title a {
    font-family: Arial !important;
    float: right;
    color: #ff8202;
    font-size: 16px !important;
    font-weight: normal !important;
    margin: 11px 0 0 0;
    text-align: left;
    padding: 0 0 0 27px;
    background: transparent url("../images/orange_arrow.png") no-repeat scroll 10px center;
    vertical-align: middle;
    line-height: 11px;
}

.header-title {
    font: bold 35px/30px ZineSlabDisplayOT-Bold;
    margin: 30px 0 40px;
    color: #333333;
}

.pin,
.calendar {
    display: inline-block;
    vertical-align: middle;
}

.pin {
    height: 37px;
    width: 27px;
    margin-right: 10px;
    background: transparent url("../images/pin_big_black.png") no-repeat scroll;
}

.calendar {
    height: 45px;
    width: 48px;
    background: transparent url("../images/calendar_big_black.png") no-repeat scroll;
}

.col-50 {
    float: left;
    width: 50%;
}

.event-date,
.event-location {
    color: #000;
    font: bold 28px/31px ZineSlabDisplayOT;
    padding: 26px 0 26px;
    text-align: center;
}

.event-location {
    padding: 26px 0 0;
}

.side-menu {
    padding: 20px 25px;
}

.side-menu li {
    float: left;
    width: 33.3333%;
    margin-bottom: 5px;
    font-weight: normal;
    line-height: 18px;
    font-size: 15px;
}

.side-menu a {
    color: #ff820f;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding-left: 16px;
    background: transparent url("../images/orange_arrow.png") no-repeat scroll 2px center;
}

.side-menu a:hover {
    color: #2d2d2d;
    text-decoration: none;
    background: transparent url("../images/black_arrow.png") no-repeat 2px center;
}

.header-title a:hover {
    color: #2d2d2d;
    text-decoration: none;
    background: transparent url("../images/black_arrow.png") no-repeat 10px center;
}

.side-menu li.active a {
    color: #000;
    background: none;
    padding-left: 0;
}

h1.ribbonmobile {
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0 0;
    margin: 50px 0 10px;
    line-height: 17px;
    color: #333333;
}

.btn,
a.btn,
input.btn {
    display: inline-block;
    padding: 3px 10px;
    margin: 15px 0 10px;
    color: #fff;
    font-weight: 700;
    border-bottom: solid 1px #6b3707;
    border-right: solid 1px rgba(107, 55, 7, 0.53);
    border-top: solid 1px rgb(247, 152, 66);
    border-left: solid 1px rgb(247, 152, 66);
    background: rgb(255, 162, 77);
    background: -moz-linear-gradient(top, rgba(255, 162, 77, 1) 0%, rgba(255, 131, 18, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 162, 77, 1) 0%, rgba(255, 131, 18, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 162, 77, 1) 0%, rgba(255, 131, 18, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa24d', endColorstr='#ff8312', GradientType=0);
}

a.btn-custom2 {
    display: block;
    width: 210px;
    height: 43px;
    background-color: #ff820f;
    color: #fff;
    text-align: center;
    margin: 10px auto;
    font-size: 15px;
    line-height: 43px;
    letter-spacing: 0.5px;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
textarea,
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

form {
    background: #eaeaea;
    color: #626262;
    padding: 20px;
    font-size: 11px;
    line-height: 150%;
}

form div,
form span,
form p {
    font-size: 11px;
    line-height: 150%;
}

.form-control {
    font-family: Arial, Helvetica, sans-serif;
    border: 0 none;
    color: #626262;
    font-size: 11px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    margin: 0 0 7px;
    padding: 0 12px;
    -webkit-box-shadow: inset 0 3px 5px 0 rgba(128, 128, 128, 0.58);
    -moz-box-shadow: inset 0 3px 5px 0 rgba(128, 128, 128, 0.58);
    box-shadow: inset 0 3px 5px 0 rgba(128, 128, 128, 0.58);
    /*background: url(https://www.sportscheck.com/is-bin/intershop.static/WFS/SportScheck-SportScheckDe-Site/-/de_DE/img/bgTextInputField.gif) repeat-x #fff!important;*/
}

input[type="radio"] {
    width: 16px;
    vertical-align: middle;
}

input[type="checkbox"] {
    margin-right: 10px;
}

select {
    border: 1px solid #bbb;
    color: #626262;
    font-size: 11px;
    margin: 0 0 7px;
    padding-left: 5px;
}

label.error, .login-error {
    color: #ff820f;
}

p {
    font-size: 12px;
    line-height: 16px;
}

label.required:after,
span.required {
    content: '*';
    color: #ff820f;
}

textarea {
    width: 96% !important;
    margin: 0px;
    padding: 1px 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #626262;
    font-size: 11px;
    border: 1px solid #E7E7E7;
}

.main-content {
    padding: 0 20px;
}
.summary-all td {
    font-size: 11px;
    line-height: 14px;
}