/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, .8);
    z-index: 1100;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal {
    /*position: absolute;
    width: 500px;*/
    /*margin: 10% auto 0 auto;*/
    top: 5%;
    left: 50%;
    visibility: hidden;
    margin-left: -400px;
    width: 850px;
    position: absolute;
    background: #eee url(../MailerTemplate/images/popup/modal-gloss.png) no-repeat -200px -80px;
    z-index: 1500;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    max-height: 500px;
    overflow: scroll;
}

.reveal-modal.small {
    width: 200px;
    margin-left: -140px;
}

.reveal-modal.medium {
    width: 400px;
    margin-left: -240px;
}

.reveal-modal.large {
    width: 600px;
    margin-left: -340px;
}

.reveal-modal.xlarge {
    width: 800px;
    margin-left: -440px;
}

.reveal-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .6);
    font-weight: bold;
    cursor: pointer;
}