.file-btn {
    font-family: "Futura Bold", sans-serif;
    border: 0.1875rem solid #203776;
    color: #203776;
    background-color: transparent;
    padding: 1rem 0;
    transition: all 0.5s;
    text-transform: uppercase;
    width: 130px;
    text-align: center;
    display: block;
}

.progress {
    background: #E9E9E9;
    height: 8px;
}

.progress-bar {
    height: 100%;
    width: 0;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-success {
    background: #02ad38;
}