.comment textarea,
.comment label {
    display: block;
    width: 100%;
    height: 100%;
}

.activities-block {
    padding-bottom: 50px
}

.comment label {
    font-weight: normal;
}

.fixed-button {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    width: 100%;
    padding: 10px;
}

.activities-block {

}

.connectedSortable {
    border: 1px solid #eee;
    min-width: 250px;
    width: 70%;
    min-height: 58px;
    list-style-type: none;
    margin: 0;
    padding: 8px;
    margin-bottom: 8px;

}

.connectedSortable li {
    padding: 5px;
    font-size: 1.2em;
    margin-bottom: 5px;
    width: 100%;
}

.activity-time-slot p {
    min-width: 100px;
    min-height: 47px;
    line-height: 47px;
    float: left;
}

.activity-time-slot ul {
    float: left;
}

.table-hover tbody tr,
.connectedSortable li {
    cursor: pointer;
}

#alerts {
    width: 100%;
    max-width: 250px;
    position: absolute;
    right: 0;
    top: 0;
}

.view-user-info{
    border-bottom: 1px solid #454545;
}
