.button-same {
    min-width: 235px;
    max-width: 100%;
    box-sizing: border-box;
}

.login-part {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 25px;
}

.guest-part {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-left: 25px;
}

.show-on-small {
    display: none;
}

.show-on-big {
    display: block;
}

@media screen and (max-width: 600px) {

    .login-part {
        border-right: 0;
        padding-bottom: 20px;

    }
}

@media screen and (max-width: 1050px) {

    .show-on-small {
        display: block;
    }

    .show-on-big {
        display: none;
    }

    .login-part {
        width: 100%;
        float: none;
        border-right: 0;
        padding-right: 0;
        padding-bottom: 20px;

    }

    .guest-part {
        width: 100%;
        float: none;
        padding-top: 15px;
        padding-left: 0;
    }
}