.activity-description{
    display: none;
}
.activity-title{
    cursor: pointer;
    display: table-cell;
}

.activity-block .hidden-input {
    position: absolute;
    left: -9999px;
}

.activity-block .hidden-input + label {
    position: relative;
    width: 12px;
    height: 22px;
    border: 1px solid #ccc;
    display: block;
    float: left;
    margin: 9px 5px 0 0;
}

.activity-block .hidden-input.radio + label{
   border-radius: 50%;
}

.activity-block .hidden-input:not(.radio):checked + label:after {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'FontAwesome', sans-serif;
    content: '\f00c';
}

.activity-block .hidden-input.radio:checked + label:after {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'FontAwesome', sans-serif;
    content: '\f111';
}
.activities h1 {
    margin: 0 0 15px;
    padding-top: 15px;
}

.description-info {
    padding-left: 28px;
    margin: 0;
    padding-bottom: 10px;
}

p.error{
    color: #ff0000;
}

.activity-block label.form-control {
    padding: 0 0 0 20px;
    min-height: auto!important;
}

.activity-title h4 {
    margin: 10px auto 10px;
}
.checkbox label, .radio label {
    padding-left: 28px;
}
.activity-title h4:after {
    font-size: 18px;
    font-family: 'FontAwesome', sans-serif;
    margin-left: 15px;
    content: '\f107';
}

.activity-title.open h4:after {
    content: '\f106';
}
.activity-title.disabled{
    cursor: default;
}
.activity-title.disabled h4:after {
    content: '';
}
h2{
    margin-bottom: 20px;
}