html {
    background-color: #e9e9e9;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 5px #8A8A8A;
    padding: 25px;
    background-color: #fff;
}
h1 {
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
}
input[type=submit], select {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
}
.import, .export {
    margin: 15px 0;
}
.success {
    display: inline-block;
    border: 1px solid #13C22B;
    border-radius: 8px;
    box-shadow: 0 0 5px #23C941;
    padding: 15px;
    margin-bottom: 15px;
}
.error {
    display: inline-block;
    border: 1px solid #c22b28;
    border-radius: 8px;
    box-shadow: 0 0 5px #c22b28;
    padding: 15px;
    margin-bottom: 15px;
}

.success h3, .success p {
    color: #13C22B;
    margin-bottom: 5px;
    margin-top: 0;
}
.success p {
    padding: 0 15px;
    margin-top: 0;
}
.error h3, .error p {
    color: #c22b28;
    margin-bottom: 5px;
    margin-top: 0;
}
.error p {
    padding: 0 15px;
    margin-top: 0;
}