@font-face {
    font-family: 'SiemensSerifSemibold';
    src: url("../../fonts/siemensserif-semibold-webfont.eot");
    src: url("../../fonts/siemensserif-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/siemensserif-semibold-webfont.woff") format("woff"), url("../../fonts/siemensserif-semibold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SiemensSans';
    src: url("../../fonts/siemenssans-roman-webfont.eot");
    src: url("../../fonts/siemenssans-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/siemenssans-roman-webfont.woff") format("woff"), url("../../fonts/siemenssans-roman-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SiemensSans';
    src: url("../../fonts/siemenssans-bold-webfont.eot");
    src: url("../../fonts/siemenssans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/siemenssans-bold-webfont.woff") format("woff"), url("../../fonts/siemenssans-bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'SiemensSans', sans-serif;
}
h1 {
    font-family: "SiemensSerifSemibold", serif;
    font-size: 24px;
    color: #147391;
}

.no-left-gutter {
    padding-left: 0;
}

.for-margin {
    margin: 0 20px;
}

.event-count {
    font-size: 20px;
}

.events {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%), -webkit-radial-gradient(bottom center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    background: radial-gradient(ellipse at top center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%), radial-gradient(ellipse at bottom center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    background-repeat: no-repeat;
    background-size: 100% 6px;
    padding-top: 20px;
}

.event {
    padding: 15px 0;
    border-bottom: 1px solid #dfe6ed;
    margin: 0;
}

.event .date {
    border: 2px solid #879baa;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 15px;
    padding-top: 5px;
}

.event .date .day {
    font-size: 36px;
    line-height: 40px;
    color: #879baa;
    font-weight: 700;
}

.event .date .month {
    font-size: 22px;
    color: #879baa;
}

.event .title {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.event .details .capacity {
    padding-left: 16px;
    position: relative;
    font-size: 12px;
    color: #981700;
}

.event .capacity.available {
    color: #738732;
}

.event .details .capacity span:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";
    height: 10px;
    width: 10px;
    margin: auto;
    border-radius: 50%;
    background-color: #981700;
}

.event .details .capacity.available span:after {
    background-color: #738732;
}

.event .details .price {
    font-size: 20px;
    color: #879baa;
    font-weight: bold;
}

.btn-custom {
    background: #879baa;
    border-radius: 0;
    padding: 5px 9px 3px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "SiemensSans", sans-serif;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.btn-custom:hover {
    background-color: #506473;
    color: #fff;
}

.btn-custom:before {
    right: 9px;
    left: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 7px;
    width: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.reg-block .btn-custom {
    width: 89%;
    text-align: left;
    margin-top: 6px;
    position: relative;
}

.event-link {
    color: #333;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    -ms-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;
}

.event-link:hover {
    color: #147391;
    text-decoration: none;
}

.name {
    font-weight: 700;
}

.pagination > li > a,
.pagination > li > span {
    color: #879baa;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #F1F1F1;
    background-color: #879baa;
    border-color: #879baa;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #879baa;
    border-color: #879baa;
}

@media only screen and (max-width: 767px) {
    .details {
        padding-left: 0;
    }

    .reg-block .btn-custom {
        width: 300px;
    }

    .for-margin {
        margin: 0;
    }
}

@media only screen and (max-width: 370px) {
    .reg-block .btn-custom {
        width: 250px;
    }
}