/*@font-face {
    font-family: 'SiemensSerifSemibold';
    src: url("../../fonts/siemensserif-semibold-webfont.eot");
    src: url("../../fonts/siemensserif-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/siemensserif-semibold-webfont.woff") format("woff"), url("../../fonts/siemensserif-semibold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SiemensSans';
    src: url("../../fonts/siemenssans-roman-webfont.eot");
    src: url("../../fonts/siemenssans-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/siemenssans-roman-webfont.woff") format("woff"), url("../../fonts/siemenssans-roman-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SiemensSans';
    src: url("../../fonts/siemenssans-bold-webfont.eot");
    src: url("../../fonts/siemenssans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/siemenssans-bold-webfont.woff") format("woff"), url("../../fonts/siemenssans-bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}*/

@font-face {
    font-family:'Neff Sans Light';
    src: url('../../fonts/Neff Sans Light Regular.eot');
    src: url('../../fonts/Neff Sans Light Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Neff Sans Light Regular.woff2') format('woff2'),
    url('../../fonts/Neff Sans Light Regular.woff') format('woff'),
    url('../../fonts/Neff Sans Light Regular.svg#Neff Sans Light Regular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Neff Sans';
    src: url('../../fonts/Neff Sans Regular.eot');
    src: url('../../fonts/Neff Sans Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Neff Sans Regular.woff2') format('woff2'),
    url('../../fonts/Neff Sans Regular.woff') format('woff'),
    url('../../fonts/Neff Sans Regular.svg#Neff Sans Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Windsor DemBd';
    src: url('../../fonts/Windsor DemBd Regular.eot');
    src: url('../../fonts/Windsor DemBd Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Windsor DemBd Regular.woff2') format('woff2'),
    url('../../fonts/Windsor DemBd Regular.woff') format('woff'),
    url('../../fonts/Windsor DemBd Regular.svg#Windsor DemBd Regular') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

body {
    font-family:'Neff Sans', sans-serif;
}

h1 {
    font-family:'Neff Sans Light', sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: normal;
}

.no-left-gutter {
    padding-left: 0;
}

.for-margin {
    margin: 0 20px;
}

.events {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%), -webkit-radial-gradient(bottom center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    background: radial-gradient(ellipse at top center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%), radial-gradient(ellipse at bottom center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    background-repeat: no-repeat;
    background-size: 100% 6px;
    padding-top: 20px;
}

.event {
    padding: 15px 0;
    border-bottom: 1px solid #dfe6ed;
    margin: 0;
}

.event .date {
    border: 2px solid #989696;
    width: 80px;
    height: 80px;
    text-align: center;
}

.event .date .day {
    font-size: 36px;
    line-height: 40px;
    color: #989696;
    font-weight: 700;
}

.event .date .month {
    font-size: 22px;
    color: #989696;
}

.event .title {
    /*font-size: 15px;*/
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.event .details .capacity {
    padding-left: 16px;
    position: relative;
    font-size: 12px;
    color: #981700;
}

.event .capacity.available {
    color: #738732;
}

.event .details .capacity span:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";
    height: 10px;
    width: 10px;
    margin: auto;
    border-radius: 50%;
    background-color: #981700;
}

.event .details .capacity.available span:after {
    background-color: #738732;
}

.event .details .price {
    font-size: 20px;
    color: #989696;
    font-weight: bold;
}

.events .event:last-child {
    border-bottom: 0;
}

.btn-custom {
    background: #b4022e;
    border-radius: 0;
    padding: 5px 9px 3px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    /*font-family: "SiemensSans", sans-serif;*/
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.btn-custom:hover {
    background-color: #b4022e;
    color: #fff;
}

.btn-custom:before {
    right: 9px;
    left: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 7px;
    width: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.reg-block .btn-custom {
    width: 89%;
    text-align: left;
    margin-top: 6px;
    position: relative;
}

.event-link {
    color: #333;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    -ms-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;
}

.event-link:hover {
    color: #b4022e;
    text-decoration: none;
}

.name {
    font-weight: 700;
    font-size: 17px;
}

#wrapper {
    /*background-color: #F1F1F1;*/
    border: 1px solid #989696;
}

.pagination > li > a,
.pagination > li > span {
    color: #b4022e;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #F1F1F1;
    background-color: #b4022e;
    border-color: #b4022e;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #b4022e;
    border-color: #b4022e;
}

@media only screen and (max-width: 767px) {
    .details {
        padding-left: 0;
    }

    .reg-block .btn-custom {
        width: 300px;
    }

    .for-margin {
        margin: 0;
    }
}

@media only screen and (max-width: 370px) {
    .reg-block .btn-custom {
        width: 250px;
    }
}