@font-face {
    font-family:'Gaggenau';
    src: url('../../fonts/gaggenb-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Gaggenau';
    src: url('../../fonts/gaggenr-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F6CE;
}

body {
    font-family:'Gaggenau', sans-serif;
    background:#000;
    background: -moz-linear-gradient(297deg, #000 0%, #000 54%, #4d4d4e 93%, #4d4d4e 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #000), color-stop(54%, #000), color-stop(93%, #4d4d4e), color-stop(100%, #4d4d4e));
    background: -webkit-linear-gradient(297deg, #000 0%, #000 54%, #4d4d4e 93%, #4d4d4e 100%);
    background: -o-linear-gradient(297deg, #000 0%, #000 54%, #4d4d4e 93%, #4d4d4e 100%);
    background: -ms-linear-gradient(297deg, #000 0%, #000 54%, #4d4d4e 93%, #4d4d4e 100%);
    background: linear-gradient(153deg, #000 0%, #000 54%, #4d4d4e 93%, #4d4d4e 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4d4d4e',GradientType=0 );*/
    background-attachment: fixed;
}

.event {
    padding: 8px 0;
    border-bottom: 1px solid #a0a0a0;
}

h1, h3 {
    font-size: 20px;
    color: #fff;
}

p {
    font-size: 13px;
    color: #fff;
    margin: 0;
}

.available p {
    color:#69be28;
}

.reg-block {
    text-align: right;
}

.not-available {
    padding-right: 10px;
}



.btn-custom {
    font-size: 15px;
    background: inherit;
    background: -moz-linear-gradient(top, rgba(105,190,40,0.85), rgba(164,229,115,0.85));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(105,190,40,0.85)), to(rgba(164,229,115,0.85)));
    background: -webkit-linear-gradient(top, rgba(105,190,40,0.85), rgba(164,229,115,0.85));
    background: linear-gradient(top, rgba(105,190,40,0.85), rgba(164,229,115,0.85));
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorstr='#d97f7f7f', endColorstr='#d9a3a3a3');
    background: -ms-linear-gradient(top, rgba(105,190,40,0.85) 0, rgba(164,229,115,0.85) 100%);
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-custom:hover {
    color: #fff;
}

.pagination li a {
    font-size: 15px;
    background: -moz-linear-gradient(top, rgba(105,190,40,0.85), rgba(164,229,115,0.85));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(105,190,40,0.85)), to(rgba(164,229,115,0.85)));
    background: -webkit-linear-gradient(top, rgba(105,190,40,0.85), rgba(164,229,115,0.85));
    background: linear-gradient(top, rgba(105,190,40,0.85), rgba(164,229,115,0.85));
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorstr='#d97f7f7f', endColorstr='#d9a3a3a3');
    background: -ms-linear-gradient(top, rgba(105,190,40,0.85) 0, rgba(164,229,115,0.85) 100%);
    color: #fff;
    border: none;
}

.pagination li a:hover {
    color: #fff;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #fff;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

