body {
    font-family: 'Source Sans Pro', sans-serif;
}

.img-response {
    padding: 15px 0;
}

.no-left-gutter {
    padding-left: 0;
}

.for-margin {
    margin: 0 20px;
}

.event-count {
    font-size: 20px;
}

.events {
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%), -webkit-radial-gradient(bottom center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    background: radial-gradient(ellipse at top center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%), radial-gradient(ellipse at bottom center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    background-repeat: no-repeat;
    background-size: 100% 6px;
    padding-top: 20px;
}

.event {
    padding: 15px 0;
    border-bottom: 1px solid #dfe6ed;
    margin: 0;
}

.event .date {
    border: 2px solid #1d6baf;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 15px;
    padding-top: 5px;
}

.event .date .day {
    font-size: 36px;
    line-height: 40px;
    color: #1d6baf;
}

.event .date .month {
    font-size: 22px;
    color: #1d6baf;
}

.event .title {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.event .details .capacity {
    padding-left: 16px;
    position: relative;
    font-size: 12px;
    color: #981700;
}

.event .capacity.available {
    color: #738732;
}

.event .details .capacity span:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";
    height: 10px;
    width: 10px;
    margin: auto;
    border-radius: 50%;
    background-color: #981700;
}

.event .details .capacity.available span:after {
    background-color: #738732;
}

.event .details .price {
    font-size: 20px;
    color: #1d6baf;
}

.name {
    font-weight: bold;
}

.reg-block .btn-custom {
    width: 89%;
    text-align: left;
    margin-top: 6px;
    position: relative;
}

.event-link {
    color: #333;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    -ms-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;
}

.event-link:hover {
    color: #147391;
    text-decoration: none;
}

.pagination > li > a,
.pagination > li > span {
    color: #1d6baf;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #F1F1F1;
    background-color: #1d6baf;
    border-color: #1d6baf;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #1d6baf;
    border-color: #1d6baf;
}

@media only screen and (max-width: 767px) {
    .details {
        padding-left: 0;
    }

    .reg-block .btn-custom {
        width: 300px;
    }

    .for-margin {
        margin: 0;
    }
}

@media only screen and (max-width: 370px) {
    .reg-block .btn-custom {
        width: 250px;
    }
}