.activity-description{
    display: none;
}
.activity-title{
    cursor: pointer;
    display: table-cell;
}


.activity-block .hidden-input + label {
    position: relative;
    width: 20px;
    height: 21px;
    display: block;
    float: left;
    margin: 5px 5px 0 0;
}

.activity-block .hidden-input.radio + label{
   border-radius: 50%;
}


.activities h1 {
    margin: 0 0 15px;
    padding-top: 15px;
}

.description-info {
    padding-left: 28px;
    margin: 0;
    padding-bottom: 10px;
}

p.error{
    color: #ff0000;
}

.activity-block label.form-control {
    padding: 0 0 0 20px;
    min-height: auto!important;
}

.activity-title h4 {
    margin: 10px auto 10px;
}
.checkbox label, .radio label {
    padding-left: 28px;
}
.activity-title h4:after {
    font-size: 18px;
    font-family: 'FontAwesome', sans-serif;
    margin-left: 15px;
    content: '\f107';
}

.activity-title.open h4:after {
    content: '\f106';
}
.activity-title.disabled{
    cursor: default;
}
.activity-title.disabled h4:after {
    content: '';
}